openapi: 3.2.0
info:
  title: Transact Contacts API
  version: 1.0.0
  description: '# Transact API


    > **For AI assistants and coding agents:** a machine-readable OpenAPI 3.0.3 definition of this API is available at the `.json` download link on this page (or directly at `https://bump.sh//doc/transact/download`).'
  contact:
    name: Lone Wolf Technologies
    url: https://www.lwolf.com
servers:
- url: https://gateway.lwolf.com
  description: Production API gateway
- url: '{tw_host}'
  description: Environment-specific host (e.g. pre-production)
  variables:
    tw_host:
      default: https://api.pre.lwolf.com
      description: Base host for the target environment.
security:
- bearerAuth: []
  subscriptionKey: []
tags:
- name: Contacts
  description: Manage transaction contacts.
paths:
  /transact-workflow/v1/Contacts:
    post:
      tags:
      - Contacts
      summary: Create a contact
      description: Creates a new contact on a transaction for the user specified in the request body.
      operationId: createContact
      responses:
        '201':
          description: Contact created.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactCreate'
  /transact-workflow/v1/users/{userId}/Contacts:
    get:
      tags:
      - Contacts
      summary: List contacts
      description: Returns the transaction contacts visible to the specified user.
      operationId: getContacts
      responses:
        '200':
          description: Successful response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
      - name: userId
        in: path
        required: true
        description: Unique identifier (GUID) of the acting user. All Transact Workflow resources are scoped to a user.
        schema:
          type: string
          format: uuid
  /transact-workflow/v1/users/{userId}/Contacts/{contactId}:
    get:
      tags:
      - Contacts
      summary: Get a contact
      description: Returns a single contact by its key.
      operationId: getContactByKey
      responses:
        '200':
          description: Successful response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
      - name: userId
        in: path
        required: true
        description: Unique identifier (GUID) of the acting user. All Transact Workflow resources are scoped to a user.
        schema:
          type: string
          format: uuid
      - name: contactId
        in: path
        required: true
        description: GUID of the contact.
        schema:
          type: string
          format: uuid
    patch:
      tags:
      - Contacts
      summary: Update a contact
      description: Applies a partial update to a contact. Only the fields present in the body are modified.
      operationId: updateContact
      responses:
        '200':
          description: Successful response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
      - name: userId
        in: path
        required: true
        description: Unique identifier (GUID) of the acting user. All Transact Workflow resources are scoped to a user.
        schema:
          type: string
          format: uuid
      - name: contactId
        in: path
        required: true
        description: GUID of the contact.
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactUpdate'
    delete:
      tags:
      - Contacts
      summary: Delete a contact
      description: Deletes the specified contact.
      operationId: deleteContact
      responses:
        '204':
          description: Contact deleted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
      - name: userId
        in: path
        required: true
        description: Unique identifier (GUID) of the acting user. All Transact Workflow resources are scoped to a user.
        schema:
          type: string
          format: uuid
      - name: contactId
        in: path
        required: true
        description: GUID of the contact.
        schema:
          type: string
          format: uuid
components:
  responses:
    NotFound:
      description: The requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: The access token is missing, invalid, or expired.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: The request is malformed or contains invalid parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: The caller is not permitted to perform this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    ContactUpdate:
      allOf:
      - type: object
        properties:
          transactionId:
            type: string
            format: uuid
            description: GUID of the transaction the contact belongs to.
      - $ref: '#/components/schemas/ContactBase'
      description: Partial contact representation. Only the provided fields are updated.
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code or short error name.
        message:
          type: string
          description: Human-readable error description.
      additionalProperties: true
    ContactCreate:
      allOf:
      - type: object
        required:
        - userId
        - transactionId
        properties:
          userId:
            type: string
            format: uuid
            description: GUID of the user creating the contact.
          transactionId:
            type: string
            format: uuid
            description: GUID of the transaction the contact belongs to.
      - $ref: '#/components/schemas/ContactBase'
      description: Payload for creating a new transaction contact.
    ContactBase:
      type: object
      properties:
        contactType:
          type: integer
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 20
          - 21
          description: 'Contact type code identifying the contact''s role on the transaction.


            | Value | Contact type |

            |---|---|

            | `0` | Buyer |

            | `1` | Seller |

            | `2` | BuyerAgent |

            | `3` | Other |

            | `4` | SellerAgent |

            | `5` | AppraisalCompany |

            | `6` | BuyerLawyer |

            | `7` | BuyerBroker |

            | `8` | CondoAssociationHOA |

            | `9` | EscrowCompany |

            | `10` | Landlord |

            | `11` | SellerBroker |

            | `12` | MortgageAppraiser |

            | `13` | BuyerLendingCompany |

            | `14` | SellerLawyer |

            | `15` | Tenant |

            | `16` | TitleCompany |

            | `17` | Admin |

            | `18` | SellerLendingCompany |

            | `19` | DisclosureCompany |

            | `20` | HomeWarrantyCompany |

            | `21` | PestControlCompany |'
          example: 0
        slot:
          type: integer
          example: 1
          minimum: 1
          description: 'Determines the ordering of contacts of the same type: `1` = Buyer 1 / Seller 1, `2` = Buyer 2 / Seller 2, and so on.'
        prefix:
          type: string
          description: Name prefix (e.g. Mr., Dr.).
        suffix:
          type: string
          description: Name suffix (e.g. Jr.).
        firstname:
          type: string
          description: First name.
        middlename:
          type: string
          description: Middle name.
        lastname:
          type: string
          description: Last name.
        email:
          type: string
          format: email
          description: Email address.
        phone:
          type: string
          description: Primary phone number.
        cellPhone:
          type: string
          description: Cell phone number.
        workPhone:
          type: string
          description: Work phone number.
        fax:
          type: string
          description: Fax number.
        agentId:
          type: string
          description: Agent identifier.
        agentLicense:
          type: string
          description: Agent license number.
        companyName:
          type: string
          description: Company name.
        officeId:
          type: string
          description: Office identifier.
        officeLicense:
          type: string
          description: Office license number.
        escrowNumber:
          type: string
          description: Escrow number.
        address1:
          type: string
          description: Street address, line 1.
        address2:
          type: string
          description: Street address, line 2.
        address3:
          type: string
          description: Street address, line 3.
        address4:
          type: string
          description: Street address, line 4.
        locality:
          type: string
          description: City / locality.
        region:
          type: string
          description: State or province.
        postalCode:
          type: string
          description: Postal / ZIP code.
        country:
          type: string
          description: Country.
        llcPoa:
          type: string
          description: LLC / power of attorney designation.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT access token obtained from the `/oauth/token` endpoint, sent as `Authorization: Bearer <token>`.'
    subscriptionKey:
      type: apiKey
      in: header
      name: lw-subscription-key
      description: API subscription key issued by Lone Wolf, sent on every request.
