openapi: 3.2.0
info:
  title: Lone Wolf Transactions API
  version: '1.0'
  description: 'Operations tagged Transactions across 4 of this provider''s published API definitions: lone-wolf-back-office-online-api-openapi.yml, lone-wolf-transact-api-openapi.yml, lone-wolf-wolfconnect-api-openapi.yml, lone-wolf-zipform-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.lwolf.com/backoffice
- url: https://gateway.lwolf.com
  description: Production API gateway
- url: '{tw_host}'
  description: Environment-specific host (e.g. pre-production)
  variables:
    tw_host:
      default: https://api.pre.lwolf.com
      description: Base host for the target environment.
- url: https://api.globalwolfweb.com
  description: Production
- url: https://api-sb.globalwolfweb.com
  description: Test
- url: https://ws.zipformplus.com/api
  description: Production
- url: https://api.pre.zipformplus.com/api
  description: Staging/QA
tags:
- name: Transactions
  description: Represents a transaction.
paths:
  /v1/transactions:
    get:
      tags:
      - Transactions
      summary: Get Transactions
      operationId: get-v1-transactions
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'
              example:
              - id: string
                createdTimestamp: string
                modifiedTimestamp: string
                number: string
                mlsNumber: string
                statusCode: C
                addressStreetNumber: string
                addressStreetName: string
                addressStreetDirection: string
                addressUnitNumber: string
                addressCity: string
                addressProvinceCode: string
                addressPostalCode: string
                offerDate: string
                closeDate: string
                entryDate: string
                firmDate: string
                finalizeDate: string
                legalDescription: string
                closePrice: 0
                classificationId: string
                propertyTypeId: string
                classification:
                  name: string
                  code: string
                  endCount: 0
                  endTypeCode: B
                propertyType:
                  name: string
                  shortName: string
                  code: string
                  classCode: C
                  rental: true
                conditions:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  description: string
                  dueDate: string
                  completeDate: string
                deposits:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  date: string
                  amount: 0
                  received: true
                  interest: true
                  held: true
                  heldBy: string
                  direct: true
                  reference: string
                tiers:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  name: string
                  closePrice: 0
                  closeDate: string
                  statusCode: C
                  classificationId: string
                  sellingCommissionAmount: 0
                  sellingCommissionPercentage: 0
                  sellingCommissionCalculationMethodCode: A
                  buyingCommissionAmount: 0
                  buyingCommissionPercentage: 0
                  buyingCommissionCalculationMethodCode: A
                  classification:
                    name: string
                    code: string
                    endCount: 0
                    endTypeCode: B
                  commissions:
                  - id: string
                    createdTimestamp: string
                    modifiedTimestamp: string
                    agentId: string
                    officeId: string
                    amount: 0
                    percentage: 0
                    endCode: B
                    endCount: 0
                    calculationMethodCode: A
                    taxAmount: 0
                    totalFeeAmount: 0
                    totalFeeTaxAmount: 0
                    fees:
                    - id: string
                      createdTimestamp: string
                      modifiedTimestamp: string
                      percentage: 0
                      amount: 0
                      calculationMethodCode: A
                      taxAmount: 0
                      taxPercentage: 0
                      paymentMethodCode: string
                      fee:
                        shortName: string
                        name: string
                    agent:
                      firstName: string
                      middleName: string
                      lastName: string
                    office:
                      name: string
                      code: string
                  externalCommissions:
                  - id: string
                    createdTimestamp: string
                    modifiedTimestamp: string
                    endCode: B
                    percentage: 0
                    amount: 0
                    calculationMethodCode: A
                    paymentMethodCode: B
                    externalAgentId: string
                    externalAgent:
                      id: string
                      createdTimestamp: string
                      modifiedTimestamp: string
                      endCode: B
                      typeCode: B
                      paymentMethodCode: B
                      firstName: string
                      lastName: string
                      companyName: string
                      addressLine1: string
                      addressLine2: string
                      addressCity: string
                      addressPostalCode: string
                      addressProvinceCode: string
                      addressCountryCode: string
                      phoneNumberMain: string
                      phoneNumberBusiness: string
                      faxNumberMain: string
                      emailAddressMain: string
                      emailAddressBusiness: string
                externalAgents:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  endCode: B
                  typeCode: B
                  paymentMethodCode: B
                  firstName: string
                  lastName: string
                  companyName: string
                  addressLine1: string
                  addressLine2: string
                  addressCity: string
                  addressPostalCode: string
                  addressProvinceCode: string
                  addressCountryCode: string
                  phoneNumberMain: string
                  phoneNumberBusiness: string
                  faxNumberMain: string
                  emailAddressMain: string
                  emailAddressBusiness: string
                clientContacts:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  contactTypeId: string
                  endCode: B
                  prefix: string
                  firstName: string
                  lastName: string
                  companyName: string
                  addressLine1: string
                  addressLine2: string
                  addressCity: string
                  addressPostalCode: string
                  addressProvinceCode: string
                  addressCountryCode: string
                  phoneNumberMain: string
                  phoneNumberBusiness: string
                  phoneNumberMobile: string
                  faxNumberMain: string
                  emailAddressMain: string
                  emailAddressWork: string
                  contactType:
                    name: string
                    code: string
                businessContacts:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  contactTypeId: string
                  endCode: B
                  prefix: string
                  firstName: string
                  lastName: string
                  companyName: string
                  addressLine1: string
                  addressLine2: string
                  addressCity: string
                  addressPostalCode: string
                  addressProvinceCode: string
                  addressCountryCode: string
                  phoneNumberMain: string
                  phoneNumberBusiness: string
                  phoneNumberMobile: string
                  faxNumberMain: string
                  emailAddressMain: string
                  emailAddressWork: string
                  contactType:
                    name: string
                    code: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
    post:
      tags:
      - Transactions
      summary: Create Transaction
      operationId: post-v1-transactions
      requestBody:
        description: The transaction to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transaction'
            example:
              id: string
              createdTimestamp: string
              modifiedTimestamp: string
              number: string
              mlsNumber: string
              statusCode: C
              addressStreetNumber: string
              addressStreetName: string
              addressStreetDirection: string
              addressUnitNumber: string
              addressCity: string
              addressProvinceCode: string
              addressPostalCode: string
              offerDate: string
              closeDate: string
              entryDate: string
              firmDate: string
              finalizeDate: string
              legalDescription: string
              closePrice: 0
              classificationId: string
              propertyTypeId: string
              classification:
                name: string
                code: string
                endCount: 0
                endTypeCode: B
              propertyType:
                name: string
                shortName: string
                code: string
                classCode: C
                rental: true
              conditions:
              - id: string
                createdTimestamp: string
                modifiedTimestamp: string
                description: string
                dueDate: string
                completeDate: string
              deposits:
              - id: string
                createdTimestamp: string
                modifiedTimestamp: string
                date: string
                amount: 0
                received: true
                interest: true
                held: true
                heldBy: string
                direct: true
                reference: string
              tiers:
              - id: string
                createdTimestamp: string
                modifiedTimestamp: string
                name: string
                closePrice: 0
                closeDate: string
                statusCode: C
                classificationId: string
                sellingCommissionAmount: 0
                sellingCommissionPercentage: 0
                sellingCommissionCalculationMethodCode: A
                buyingCommissionAmount: 0
                buyingCommissionPercentage: 0
                buyingCommissionCalculationMethodCode: A
                classification:
                  name: string
                  code: string
                  endCount: 0
                  endTypeCode: B
                commissions:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  agentId: string
                  officeId: string
                  amount: 0
                  percentage: 0
                  endCode: B
                  endCount: 0
                  calculationMethodCode: A
                  taxAmount: 0
                  totalFeeAmount: 0
                  totalFeeTaxAmount: 0
                  fees:
                  - id: string
                    createdTimestamp: string
                    modifiedTimestamp: string
                    percentage: 0
                    amount: 0
                    calculationMethodCode: A
                    taxAmount: 0
                    taxPercentage: 0
                    paymentMethodCode: string
                    fee:
                      shortName: string
                      name: string
                  agent:
                    firstName: string
                    middleName: string
                    lastName: string
                  office:
                    name: string
                    code: string
                externalCommissions:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  endCode: B
                  percentage: 0
                  amount: 0
                  calculationMethodCode: A
                  paymentMethodCode: B
                  externalAgentId: string
                  externalAgent:
                    id: string
                    createdTimestamp: string
                    modifiedTimestamp: string
                    endCode: B
                    typeCode: B
                    paymentMethodCode: B
                    firstName: string
                    lastName: string
                    companyName: string
                    addressLine1: string
                    addressLine2: string
                    addressCity: string
                    addressPostalCode: string
                    addressProvinceCode: string
                    addressCountryCode: string
                    phoneNumberMain: string
                    phoneNumberBusiness: string
                    faxNumberMain: string
                    emailAddressMain: string
                    emailAddressBusiness: string
              externalAgents:
              - id: string
                createdTimestamp: string
                modifiedTimestamp: string
                endCode: B
                typeCode: B
                paymentMethodCode: B
                firstName: string
                lastName: string
                companyName: string
                addressLine1: string
                addressLine2: string
                addressCity: string
                addressPostalCode: string
                addressProvinceCode: string
                addressCountryCode: string
                phoneNumberMain: string
                phoneNumberBusiness: string
                faxNumberMain: string
                emailAddressMain: string
                emailAddressBusiness: string
              clientContacts:
              - id: string
                createdTimestamp: string
                modifiedTimestamp: string
                contactTypeId: string
                endCode: B
                prefix: string
                firstName: string
                lastName: string
                companyName: string
                addressLine1: string
                addressLine2: string
                addressCity: string
                addressPostalCode: string
                addressProvinceCode: string
                addressCountryCode: string
                phoneNumberMain: string
                phoneNumberBusiness: string
                phoneNumberMobile: string
                faxNumberMain: string
                emailAddressMain: string
                emailAddressWork: string
                contactType:
                  name: string
                  code: string
              businessContacts:
              - id: string
                createdTimestamp: string
                modifiedTimestamp: string
                contactTypeId: string
                endCode: B
                prefix: string
                firstName: string
                lastName: string
                companyName: string
                addressLine1: string
                addressLine2: string
                addressCity: string
                addressPostalCode: string
                addressProvinceCode: string
                addressCountryCode: string
                phoneNumberMain: string
                phoneNumberBusiness: string
                phoneNumberMobile: string
                faxNumberMain: string
                emailAddressMain: string
                emailAddressWork: string
                contactType:
                  name: string
                  code: string
      responses:
        '200':
          description: OK
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
              example:
                id: string
                createdTimestamp: string
                modifiedTimestamp: string
                number: string
                mlsNumber: string
                statusCode: C
                addressStreetNumber: string
                addressStreetName: string
                addressStreetDirection: string
                addressUnitNumber: string
                addressCity: string
                addressProvinceCode: string
                addressPostalCode: string
                offerDate: string
                closeDate: string
                entryDate: string
                firmDate: string
                finalizeDate: string
                legalDescription: string
                closePrice: 0
                classificationId: string
                propertyTypeId: string
                classification:
                  name: string
                  code: string
                  endCount: 0
                  endTypeCode: B
                propertyType:
                  name: string
                  shortName: string
                  code: string
                  classCode: C
                  rental: true
                conditions:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  description: string
                  dueDate: string
                  completeDate: string
                deposits:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  date: string
                  amount: 0
                  received: true
                  interest: true
                  held: true
                  heldBy: string
                  direct: true
                  reference: string
                tiers:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  name: string
                  closePrice: 0
                  closeDate: string
                  statusCode: C
                  classificationId: string
                  sellingCommissionAmount: 0
                  sellingCommissionPercentage: 0
                  sellingCommissionCalculationMethodCode: A
                  buyingCommissionAmount: 0
                  buyingCommissionPercentage: 0
                  buyingCommissionCalculationMethodCode: A
                  classification:
                    name: string
                    code: string
                    endCount: 0
                    endTypeCode: B
                  commissions:
                  - id: string
                    createdTimestamp: string
                    modifiedTimestamp: string
                    agentId: string
                    officeId: string
                    amount: 0
                    percentage: 0
                    endCode: B
                    endCount: 0
                    calculationMethodCode: A
                    taxAmount: 0
                    totalFeeAmount: 0
                    totalFeeTaxAmount: 0
                    fees:
                    - id: string
                      createdTimestamp: string
                      modifiedTimestamp: string
                      percentage: 0
                      amount: 0
                      calculationMethodCode: A
                      taxAmount: 0
                      taxPercentage: 0
                      paymentMethodCode: string
                      fee:
                        shortName: string
                        name: string
                    agent:
                      firstName: string
                      middleName: string
                      lastName: string
                    office:
                      name: string
                      code: string
                  externalCommissions:
                  - id: string
                    createdTimestamp: string
                    modifiedTimestamp: string
                    endCode: B
                    percentage: 0
                    amount: 0
                    calculationMethodCode: A
                    paymentMethodCode: B
                    externalAgentId: string
                    externalAgent:
                      id: string
                      createdTimestamp: string
                      modifiedTimestamp: string
                      endCode: B
                      typeCode: B
                      paymentMethodCode: B
                      firstName: string
                      lastName: string
                      companyName: string
                      addressLine1: string
                      addressLine2: string
                      addressCity: string
                      addressPostalCode: string
                      addressProvinceCode: string
                      addressCountryCode: string
                      phoneNumberMain: string
                      phoneNumberBusiness: string
                      faxNumberMain: string
                      emailAddressMain: string
                      emailAddressBusiness: string
                externalAgents:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  endCode: B
                  typeCode: B
                  paymentMethodCode: B
                  firstName: string
                  lastName: string
                  companyName: string
                  addressLine1: string
                  addressLine2: string
                  addressCity: string
                  addressPostalCode: string
                  addressProvinceCode: string
                  addressCountryCode: string
                  phoneNumberMain: string
                  phoneNumberBusiness: string
                  faxNumberMain: string
                  emailAddressMain: string
                  emailAddressBusiness: string
                clientContacts:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  contactTypeId: string
                  endCode: B
                  prefix: string
                  firstName: string
                  lastName: string
                  companyName: string
                  addressLine1: string
                  addressLine2: string
                  addressCity: string
                  addressPostalCode: string
                  addressProvinceCode: string
                  addressCountryCode: string
                  phoneNumberMain: string
                  phoneNumberBusiness: string
                  phoneNumberMobile: string
                  faxNumberMain: string
                  emailAddressMain: string
                  emailAddressWork: string
                  contactType:
                    name: string
                    code: string
                businessContacts:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  contactTypeId: string
                  endCode: B
                  prefix: string
                  firstName: string
                  lastName: string
                  companyName: string
                  addressLine1: string
                  addressLine2: string
                  addressCity: string
                  addressPostalCode: string
                  addressProvinceCode: string
                  addressCountryCode: string
                  phoneNumberMain: string
                  phoneNumberBusiness: string
                  phoneNumberMobile: string
                  faxNumberMain: string
                  emailAddressMain: string
                  emailAddressWork: string
                  contactType:
                    name: string
                    code: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '409':
          description: Conflict. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '422':
          description: Validation failed. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
    servers:
    - url: https://api.lwolf.com/backoffice
  /v1/transactions/{transactionId}:
    get:
      tags:
      - Transactions
      summary: Get Transaction
      operationId: get-v1-transactions-transactionid
      parameters:
      - name: transactionId
        in: path
        description: The id of the transaction.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
              example:
                id: string
                createdTimestamp: string
                modifiedTimestamp: string
                number: string
                mlsNumber: string
                statusCode: C
                addressStreetNumber: string
                addressStreetName: string
                addressStreetDirection: string
                addressUnitNumber: string
                addressCity: string
                addressProvinceCode: string
                addressPostalCode: string
                offerDate: string
                closeDate: string
                entryDate: string
                firmDate: string
                finalizeDate: string
                legalDescription: string
                closePrice: 0
                classificationId: string
                propertyTypeId: string
                classification:
                  name: string
                  code: string
                  endCount: 0
                  endTypeCode: B
                propertyType:
                  name: string
                  shortName: string
                  code: string
                  classCode: C
                  rental: true
                conditions:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  description: string
                  dueDate: string
                  completeDate: string
                deposits:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  date: string
                  amount: 0
                  received: true
                  interest: true
                  held: true
                  heldBy: string
                  direct: true
                  reference: string
                tiers:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  name: string
                  closePrice: 0
                  closeDate: string
                  statusCode: C
                  classificationId: string
                  sellingCommissionAmount: 0
                  sellingCommissionPercentage: 0
                  sellingCommissionCalculationMethodCode: A
                  buyingCommissionAmount: 0
                  buyingCommissionPercentage: 0
                  buyingCommissionCalculationMethodCode: A
                  classification:
                    name: string
                    code: string
                    endCount: 0
                    endTypeCode: B
                  commissions:
                  - id: string
                    createdTimestamp: string
                    modifiedTimestamp: string
                    agentId: string
                    officeId: string
                    amount: 0
                    percentage: 0
                    endCode: B
                    endCount: 0
                    calculationMethodCode: A
                    taxAmount: 0
                    totalFeeAmount: 0
                    totalFeeTaxAmount: 0
                    fees:
                    - id: string
                      createdTimestamp: string
                      modifiedTimestamp: string
                      percentage: 0
                      amount: 0
                      calculationMethodCode: A
                      taxAmount: 0
                      taxPercentage: 0
                      paymentMethodCode: string
                      fee:
                        shortName: string
                        name: string
                    agent:
                      firstName: string
                      middleName: string
                      lastName: string
                    office:
                      name: string
                      code: string
                  externalCommissions:
                  - id: string
                    createdTimestamp: string
                    modifiedTimestamp: string
                    endCode: B
                    percentage: 0
                    amount: 0
                    calculationMethodCode: A
                    paymentMethodCode: B
                    externalAgentId: string
                    externalAgent:
                      id: string
                      createdTimestamp: string
                      modifiedTimestamp: string
                      endCode: B
                      typeCode: B
                      paymentMethodCode: B
                      firstName: string
                      lastName: string
                      companyName: string
                      addressLine1: string
                      addressLine2: string
                      addressCity: string
                      addressPostalCode: string
                      addressProvinceCode: string
                      addressCountryCode: string
                      phoneNumberMain: string
                      phoneNumberBusiness: string
                      faxNumberMain: string
                      emailAddressMain: string
                      emailAddressBusiness: string
                externalAgents:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  endCode: B
                  typeCode: B
                  paymentMethodCode: B
                  firstName: string
                  lastName: string
                  companyName: string
                  addressLine1: string
                  addressLine2: string
                  addressCity: string
                  addressPostalCode: string
                  addressProvinceCode: string
                  addressCountryCode: string
                  phoneNumberMain: string
                  phoneNumberBusiness: string
                  faxNumberMain: string
                  emailAddressMain: string
                  emailAddressBusiness: string
                clientContacts:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  contactTypeId: string
                  endCode: B
                  prefix: string
                  firstName: string
                  lastName: string
                  companyName: string
                  addressLine1: string
                  addressLine2: string
                  addressCity: string
                  addressPostalCode: string
                  addressProvinceCode: string
                  addressCountryCode: string
                  phoneNumberMain: string
                  phoneNumberBusiness: string
                  phoneNumberMobile: string
                  faxNumberMain: string
                  emailAddressMain: string
                  emailAddressWork: string
                  contactType:
                    name: string
                    code: string
                businessContacts:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  contactTypeId: string
                  endCode: B
                  prefix: string
                  firstName: string
                  lastName: string
                  companyName: string
                  addressLine1: string
                  addressLine2: string
                  addressCity: string
                  addressPostalCode: string
                  addressProvinceCode: string
                  addressCountryCode: string
                  phoneNumberMain: string
                  phoneNumberBusiness: string
                  phoneNumberMobile: string
                  faxNumberMain: string
                  emailAddressMain: string
                  emailAddressWork: string
                  contactType:
                    name: string
                    code: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
    patch:
      tags:
      - Transactions
      summary: Update Transaction
      operationId: patch-v1-transactions-transactionid
      parameters:
      - name: transactionId
        in: path
        description: The id of the transaction.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: The properties of the transaction to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionPatchRequest'
            example:
              number: string
              mlsNumber: string
              statusCode: C
              addressStreetNumber: string
              addressStreetName: string
              addressStreetDirection: string
              addressUnitNumber: string
              addressCity: string
              addressProvinceCode: string
              addressPostalCode: string
              offerDate: string
              closeDate: string
              entryDate: string
              firmDate: string
              finalizeDate: string
              legalDescription: string
              closePrice: 0
              classificationId: string
              propertyTypeId: string
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
              example:
                id: string
                createdTimestamp: string
                modifiedTimestamp: string
                number: string
                mlsNumber: string
                statusCode: C
                addressStreetNumber: string
                addressStreetName: string
                addressStreetDirection: string
                addressUnitNumber: string
                addressCity: string
                addressProvinceCode: string
                addressPostalCode: string
                offerDate: string
                closeDate: string
                entryDate: string
                firmDate: string
                finalizeDate: string
                legalDescription: string
                closePrice: 0
                classificationId: string
                propertyTypeId: string
                classification:
                  name: string
                  code: string
                  endCount: 0
                  endTypeCode: B
                propertyType:
                  name: string
                  shortName: string
                  code: string
                  classCode: C
                  rental: true
                conditions:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  description: string
                  dueDate: string
                  completeDate: string
                deposits:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  date: string
                  amount: 0
                  received: true
                  interest: true
                  held: true
                  heldBy: string
                  direct: true
                  reference: string
                tiers:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  name: string
                  closePrice: 0
                  closeDate: string
                  statusCode: C
                  classificationId: string
                  sellingCommissionAmount: 0
                  sellingCommissionPercentage: 0
                  sellingCommissionCalculationMethodCode: A
                  buyingCommissionAmount: 0
                  buyingCommissionPercentage: 0
                  buyingCommissionCalculationMethodCode: A
                  classification:
                    name: string
                    code: string
                    endCount: 0
                    endTypeCode: B
                  commissions:
                  - id: string
                    createdTimestamp: string
                    modifiedTimestamp: string
                    agentId: string
                    officeId: string
                    amount: 0
                    percentage: 0
                    endCode: B
                    endCount: 0
                    calculationMethodCode: A
                    taxAmount: 0
                    totalFeeAmount: 0
                    totalFeeTaxAmount: 0
                    fees:
                    - id: string
                      createdTimestamp: string
                      modifiedTimestamp: string
                      percentage: 0
                      amount: 0
                      calculationMethodCode: A
                      taxAmount: 0
                      taxPercentage: 0
                      paymentMethodCode: string
                      fee:
                        shortName: string
                        name: string
                    agent:
                      firstName: string
                      middleName: string
                      lastName: string
                    office:
                      name: string
                      code: string
                  externalCommissions:
                  - id: string
                    createdTimestamp: string
                    modifiedTimestamp: string
                    endCode: B
                    percentage: 0
                    amount: 0
                    calculationMethodCode: A
                    paymentMethodCode: B
                    externalAgentId: string
                    externalAgent:
                      id: string
                      createdTimestamp: string
                      modifiedTimestamp: string
                      endCode: B
                      typeCode: B
                      paymentMethodCode: B
                      firstName: string
                      lastName: string
                      companyName: string
                      addressLine1: string
                      addressLine2: string
                      addressCity: string
                      addressPostalCode: string
                      addressProvinceCode: string
                      addressCountryCode: string
                      phoneNumberMain: string
                      phoneNumberBusiness: string
                      faxNumberMain: string
                      emailAddressMain: string
                      emailAddressBusiness: string
                externalAgents:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  endCode: B
                  typeCode: B
                  paymentMethodCode: B
                  firstName: string
                  lastName: string
                  companyName: string
                  addressLine1: string
                  addressLine2: string
                  addressCity: string
                  addressPostalCode: string
                  addressProvinceCode: string
                  addressCountryCode: string
                  phoneNumberMain: string
                  phoneNumberBusiness: string
                  faxNumberMain: string
                  emailAddressMain: string
                  emailAddressBusiness: string
                clientContacts:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  contactTypeId: string
                  endCode: B
                  prefix: string
                  firstName: string
                  lastName: string
                  companyName: string
                  addressLine1: string
                  addressLine2: string
                  addressCity: string
                  addressPostalCode: string
                  addressProvinceCode: string
                  addressCountryCode: string
                  phoneNumberMain: string
                  phoneNumberBusiness: string
                  phoneNumberMobile: string
                  faxNumberMain: string
                  emailAddressMain: string
                  emailAddressWork: string
                  contactType:
                    name: string
                    code: string
                businessContacts:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  contactTypeId: string
                  endCode: B
                  prefix: string
                  firstName: string
                  lastName: string
                  companyName: string
                  addressLine1: string
                  addressLine2: string
                  addressCity: string
                  addressPostalCode: string
                  addressProvinceCode: string
                  addressCountryCode: string
                  phoneNumberMain: string
                  phoneNumberBusiness: string
                  phoneNumberMobile: string
                  faxNumberMain: string
                  emailAddressMain: string
                  emailAddressWork: string
                  contactType:
                    name: string
                    code: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '422':
          description: Validation failed. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
    servers:
    - url: https://api.lwolf.com/backoffice
  /v1/transactions/{transactionId}/summary:
    get:
      tags:
      - Transactions
      summary: Get Transaction Summary
      operationId: get-v1-transactions-transactionid-summary
      parameters:
      - name: transactionId
        in: path
        description: The id of the transaction.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionSummary'
              example:
                id: string
                createdTimestamp: string
                modifiedTimestamp: string
                number: string
                mlsNumber: string
                statusCode: string
                addressStreetNumber: string
                addressStreetName: string
                addressStreetDirection: string
                addressUnitNumber: string
                addressCity: string
                addressProvinceCode: string
                addressPostalCode: string
                classificationId: string
                classificationName: string
                propertyTypeId: string
                propertyTypeName: string
                offerDate: string
                closeDate: string
                closePrice: 0
                finalizeDate: string
                firmDate: string
                tiers:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  name: string
                  commissions:
                  - id: string
                    createdTimestamp: string
                    modifiedTimestamp: string
                    agentId: string
                    officeId: string
                    firstName: string
                    middleName: string
                    lastName: string
                    officeName: string
                    amount: 0
                    percentage: 0
                    endCode: B
                    endCount: 0
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
    servers:
    - url: https://api.lwolf.com/backoffice
  /v1/transactions/summary:
    get:
      tags:
      - Transactions
      summary: Get Transaction Summaries
      operationId: get-v1-transactions-summary
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TransactionSummary'
              example:
              - id: string
                createdTimestamp: string
                modifiedTimestamp: string
                number: string
                mlsNumber: string
                statusCode: string
                addressStreetNumber: string
                addressStreetName: string
                addressStreetDirection: string
                addressUnitNumber: string
                addressCity: string
                addressProvinceCode: string
                addressPostalCode: string
                classificationId: string
                classificationName: string
                propertyTypeId: string
                propertyTypeName: string
                offerDate: string
                closeDate: string
                closePrice: 0
                finalizeDate: string
                firmDate: string
                tiers:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  name: string
                  commissions:
                  - id: string
                    createdTimestamp: string
                    modifiedTimestamp: string
                    agentId: string
                    officeId: string
                    firstName: string
                    middleName: string
                    lastName: string
                    officeName: string
                    amount: 0
                    percentage: 0
                    endCode: B
                    endCount: 0
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
    servers:
    - url: https://api.lwolf.com/backoffice
  /transact-workflow/v1/Transactions:
    post:
      tags:
      - Transactions
      summary: Create a transaction
      description: Creates a new transaction for the user specified in the request body.
      operationId: createTransaction
      responses:
        '201':
          description: Transaction created.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionCreate'
      security:
      - bearerAuth: []
        subscriptionKey: []
    servers:
    - url: https://gateway.lwolf.com
      description: Production API gateway
    - url: '{tw_host}'
      description: Environment-specific host (e.g. pre-production)
      variables:
        tw_host:
          default: https://api.pre.lwolf.com
          description: Base host for the target environment.
  /transact-workflow/v1/users/{userId}/transactions:
    get:
      tags:
      - Transactions
      summary: List transactions
      description: Returns the transactions visible to the specified user. Supports OData `$filter` (e.g. `$filter=opportunityId eq <guid>`).
      operationId: getTransactions
      responses:
        '200':
          description: Successful response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
      - name: userId
        in: path
        required: true
        description: Unique identifier (GUID) of the acting user. All Transact Workflow resources are scoped to a user.
        schema:
          type: string
          format: uuid
      - name: $filter
        in: query
        required: false
        description: OData filter expression used to restrict the result set.
        schema:
          type: string
        example: opportunityId eq 5a283c97-44a9-45a9-2f3a-08de10e96589
      security:
      - bearerAuth: []
        subscriptionKey: []
    servers:
    - url: https://gateway.lwolf.com
      description: Production API gateway
    - url: '{tw_host}'
      description: Environment-specific host (e.g. pre-production)
      variables:
        tw_host:
          default: https://api.pre.lwolf.com
          description: Base host for the target environment.
  /transact-workflow/v1/users/{userId}/transactions/{transactionId}:
    get:
      tags:
      - Transactions
      summary: Get a transaction
      description: Returns a single transaction by its key.
      operationId: getTransactionByKey
      responses:
        '200':
          description: Successful response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
      - name: userId
        in: path
        required: true
        description: Unique identifier (GUID) of the acting user. All Transact Workflow resources are scoped to a user.
        schema:
          type: string
          format: uuid
      - name: transactionId
        in: path
        required: true
        description: GUID of the transaction.
        schema:
          type: string
          format: uuid
      security:
      - bearerAuth: []
        subscriptionKey: []
    patch:
      tags:
      - Transactions
      summary: Update a transaction
      description: Applies a partial update to a transaction. Only the fields present in the body are modified.
      operationId: updateTransaction
      responses:
        '200':
          description: Successful response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
      - name: userId
        in: path
        required: true
        description: Unique identifier (GUID) of the acting user. All Transact Workflow resources are scoped to a user.
        schema:
          type: string
          format: uuid
      - name: transactionId
        in: path
        required: true
        description: GUID of the transaction.
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionUpdate'
      security:
      - bearerAuth: []
        subscriptionKey: []
    delete:
      tags:
      - Transactions
      summary: Delete a transaction
      description: Deletes the specified transaction.
      operationId: deleteTransaction
      responses:
        '204':
          description: Transaction deleted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
      - name: userId
        in: path
        required: true
        description: Unique identifier (GUID) of the acting user. All Transact Workflow resources are scoped to a user.
        schema:
          type: string
          format: uuid
      - name: transactionId
        in: path
        required: true
        description: GUID of the transaction.
        schema:
          type: string
          format: uuid
      security:
      - bearerAuth: []
        subscriptionKey: []
    servers:
    - url: https://gateway.lwolf.com
      description: Production API gateway
    - url: '{tw_host}'
      description: Environment-specific host (e.g. pre-production)
      variables:
        tw_host:
          default: https://api.pre.lwolf.com
          description: Base host for the target environment.
  /wolfconnect/transactions/v1:
    get:
      tags:
      - Transactions
      summary: Retrieve a Collection of Transactions
      operationId: getTransactions
      description: 'Retrieves a collection of transactions within the current client code. OData can be used to filter, order and page through the list.


        **OData Support:** $expand, $filter, $orderby, $skip, $top


        ### Common OData Queries


        Find all transactions for a given office:


        ```

        $filter=Tiers/any(x:x/AgentCommissions/any(y:y/OfficeId eq ''[Lone Wolf Office Id]''))

        ```


        Find all transactions for a given agent:


        ```

        $filter=Tiers/any(x:x/AgentCommissions/any(y:y/AgentId eq ''[Lone Wolf Member Id]''))

        ```


        Find all transactions modified after January 1st, 2015 at 4:00 PM EST:


        ```

        $filter=TransactionChangedTimestamp lt datetimeoffset''2015-01-01T21:00:00.0000000%2B00:00''

        ```


        Note the time was changed to UTC time. Also, the plus sign separating the time zone has been changed to the URL encoded version of %2B. This is a requirement when specifying datetimeoffset OData values.


        Find all contingent transactions (any conditions that have an approved date of null):


        ```

        $filter=Conditions/any(x:x/ApprovedDate eq null)

        ```


        Find all firm transactions (no conditions or all the conditions have a valid approved date):


        ```

        $filter=Conditions/any() eq false or Conditions/all(x:x/ApprovedDate ne null) eq true

        ```'
      parameters:
      - $ref: '#/components/parameters/ODataExpand'
      - $ref: '#/components/parameters/ODataFilter'
      - $ref: '#/components/parameters/ODataOrderBy'
      - $ref: '#/components/parameters/ODataSkip'
      - $ref: '#/components/parameters/ODataTop'
      responses:
        '200':
          description: A collection of Transaction objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction_2'
      security:
      - LoneWolfToken: []
    post:
      tags:
      - Transactions
      summary: Create a Transaction
      operationId: createTransaction
      description: 'A new Transaction must have one Tier associated to it and that Tier must have at least one AgentCommission associated to it; you will receive a validation error if you send a Transaction object without that data.


        Transaction.Number should be set to NULL unless the primary office for the transaction allows manual entry of a transaction number.


        The response will contain the newly created transaction object populated with all of the data to which you have read access. You can use the OData $expand parameter to limit the data that is returned.


        Please see the Creating and Updating Data section of the introduction for more information on how to set property values.


        **OData Support:** $expand'
      parameters:
      - $ref: '#/components/parameters/ODataExpand'
      requestBody:
        required: true
        description: A Transaction object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transaction_2'
      responses:
        '201':
          description: The newly created Transaction object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction_2'
        '400':
          description: 'Error Code 1006: Validation failed. See the Details property of the response for information on why the validation failed. Error Code 1008: Invalid operation. This typically happens when you are trying to create an object without the required permission (eg. you don''t have create permission for Conditions but you pass through a list of Conditions in the Transaction.Conditions property). See the Details property of the response for more information.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '404':
          description: A child object was not found (eg. you attempt to set the classification of a transaction with a ClassificationId that does not exist).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
      security:
      - LoneWolfToken: []
    servers:
    - url: https://api.globalwolfweb.com
      description: Production
    - url: https://api-sb.globalwolfweb.com
      description: Test
  /wolfconnect/transactions/v1/{transactionId}:
    parameters:
    - name: transactionId
      in: path
      required: true
      description: The Lone Wolf Id of the transaction. This will be the value in the Transaction.Id property when the transaction was created.
      schema:
        type: string
    get:
      tags:
      - Transactions
      summary: Retrieve a Transaction
      operationId: getTransaction
      description: 'Retrieves a transaction. The data in the response will contain all of the data to which you have read access. Properties with values of NULL typically mean that you do not have read access to that property. Please see the Permissions section of the introduction for more information.


        **OData Support:** $expand'
      parameters:
      - $ref: '#/components/parameters/ODataExpand'
      responses:
        '200':
          description: A Transaction object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction_2'
        '400':
          description: 'Error Code 1001: The transaction Id is invalid.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '404':
          description: The transaction could not be found. The primary office for the transaction must be an office with the Client Code used in the API authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
      security:
      - LoneWolfToken: []
    put:
      tags:
      - Transactions
      summary: Update a Transaction
      operationId: updateTransaction
      description: 'It is best practice to only send data that you want updated as it will return a much faster response. For instance, if you only need to update the Transaction.CloseDate value, then you should set all other Transaction properties to null so that only a close date update is attempted.


        Unless the primary office allows manual entry for a transaction number and you actually want to change the transaction number, it is best to always set the Transaction.Number property to NULL before sending the request. This will guarantee that the transaction number is not updated.


        The status of a transaction cannot be updated using this resource. The status is a read only property. You must use the finalize resource to change the status.


        Please see the Creating and Updating Data section of the introduction for more information on how to set property values.


        The response will contain the updated transaction object populated with all of the data to which you have read access regardless of the properties sent in the request. For instance, if you sent a Transaction object with the Conditions property set to null but the transaction contained 2 conditions, the Transaction.Conditions property of the response will contain those 2 conditions. You can use the OData $expand parameter to limit the data that is returned.


        The value for the Transaction.Id property in the Transaction object sent in the request is ignored.


        **OData Support:** $expand'
      parameters:
      - $ref: '#/components/parameters/ODataExpand'
      requestBody:
        required: true
        description: A Transaction object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transaction_2'
      responses:
        '200':
          description: A Transaction object holding all the updated data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction_2'
        '400':
          description: 'Error Code 1006: Validation failed. See the Details property of the response for information on why the validation failed. Error Code 1008: Invalid operation. This occurs when attempting to update or create an object without the required permission. For instance, if you don''t have create permission for Conditions but you pass through a list of Conditions in the Transaction.Conditions property or if you attempt to update the Transaction.CloseDate but do not have edit permissions for that field. See the Details property of the response for more information.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '404':
          description: Either the transaction or a child object was not found. For instance, if you attempt to set the classification of a transaction with a ClassificationId that does not exist. The primary office for the transaction must be an office with the Client Code used in the API authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
      security:
      - LoneWolfToken: []
    servers:
    - url: https://api.globalwolfweb.com
      description: Production
    - url: https://api-sb.globalwolfweb.com
      description: Test
  /wolfconnect/transactions/v1/{transactionId}/finalize:
    parameters:
    - name: transactionId
      in: path
      required: true
      description: The Lone Wolf Id of the transaction to update.
      schema:
        type: string
    put:
      tags:
      - Transactions
      summary: Finalize a Transaction
      operationId: finalizeTransaction
      description: 'The status of a transaction cannot be updated through the normal update process as you must call this resource to change the status. This resource will finalize all of the associated transaction tiers with the specified status code as well.


        The list of valid status codes is defined in the Transaction.StatusCode property in the schema definitions.'
      requestBody:
        required: true
        description: A string holding the status code for the finalized transaction.
        content:
          application/json:
            schema:
              type: string
              description: The status code for the finalized transaction.
      responses:
        '200':
          description: The transaction was finalized. No response content.
        '400':
          description: 'Error Code 1006: Validation failed. See the Details property of the response for information on why the validation failed. Error Code 1008: Invalid operation. A common reason for this error is if the transaction has been synched with brokerWOLF.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '404':
          description: The transaction could not be found. The primary office for the transaction must be an office with the Client Code used in the API authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
      security:
      - LoneWolfToken: []
    servers:
    - url: https://api.globalwolfweb.com
      description: Production
    - url: https://api-sb.globalwolfweb.com
      description: Test
  /wolfconnect/transactions/v1/search:
    post:
      tags:
      - Transactions
      summary: Search for Transactions
      operationId: searchTransactions
      deprecated: true
      description: '**NOTE: This resource has been deprecated in favor of using OData with the `/wolfconnect/transactions/v1` resource. See Retrieve a Collection of Transactions for more information.**


        This retrieves all of the transactions that meet the search criteria. The SearchRequest object''s Criteria property should contain an instance of a TransactionSearchCriteria object.


        You will only be able to filter search criteria on fields to which you have read access. For example, if you don''t have read access to see the close date of a transaction and you set the close date range in the TransactionSearchCriteria object that range will be ignored.


        The search could take longer to complete if the TransactionSearchCriteria.FullDetail flag is set to true as it has to completely populate the information in the Transaction object. If the flag is set to false, only a subset of the transaction data containing commonly used data is returned.


        The SearchResult object''s ResultSet property will contain a list of Transaction objects.'
      requestBody:
        required: true
        description: A SearchRequest object.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: A SearchResult object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResult'
      security:
      - LoneWolfToken: []
    servers:
    - url: https://api.globalwolfweb.com
      description: Production
    - url: https://api-sb.globalwolfweb.com
      description: Test
  /transactions:
    get:
      summary: Get Transaction List
      description: Returns the list of transactions available for the authenticated user. Supports optional filter parameters.
      tags:
      - Transactions
      parameters:
      - in: query
        name: since
        schema:
          type: string
          format: date-time
        description: Return transactions created from this date onwards
      - in: query
        name: modifiedSince
        schema:
          type: string
          format: date-time
        description: Return transactions modified from this date onwards
      - in: query
        name: status
        schema:
          type: string
        description: 'Filter by status: active (default), pending, closed, inactive, locked, all, all:active, all:pending, all:closed, all:inactive, all:locked'
      - in: query
        name: agentId
        schema:
          type: string
        description: Filter transactions by agent ID (brokerage/team scenarios)
      - in: query
        name: filterBy
        schema:
          type: string
        description: Text filter applied to property address, city, zip, transaction name, or buyer/seller name
      - in: query
        name: teamId
        schema:
          type: string
        description: Filter by team ID, or use 'all' for all teams the agent belongs to
      - in: query
        name: page
        schema:
          type: integer
      - in: query
        name: pagesize
        schema:
          type: integer
      - in: query
        name: orderby
        schema:
          type: string
          enum:
          - name
          - created
      - in: query
        name: sortorder
        schema:
          type: string
          enum:
          - asc
          - desc
      responses:
        '200':
          description: List of transactions
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/Transaction_3'
        '401':
          description: Unauthorized
      security:
      - contextAuth: []
    post:
      summary: Create Transaction
      description: Creates a new transaction for the authenticated user. `name` is required. `data` can include key-value pairs from the Transaction Data Keys appendix. `transactionType` and `propertyType` accept string or integer enum values.
      tags:
      - Transactions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  example: 123 Main Street
                status:
                  type: string
                  example: active
                transactionType:
                  type: string
                  enum:
                  - Listing
                  - Purchase
                  - Lease
                  - LeaseListing
                  description: 'Integer values: Listing=0, Purchase=1, Lease=2, LeaseListing=3'
                propertyType:
                  type: string
                  enum:
                  - Residential
                  - Commercial
                  - Industrial
                  - VacantLand
                  - MultiUnit
                  - FarmAndRanch
                  - Condominium
                  - ManufacturedHome
                  - Coop
                  - Unlisted
                  description: 'Integer values: Residential=0, Commercial=1, Industrial=2, VacantLand=3, MultiUnit=4, FarmAndRanch=5, Condominium=6, ManufacturedHome=7, Coop=8, Unlisted=9'
                data:
                  type: object
                  additionalProperties:
                    type: string
                  description: Key-value pairs of transaction data. See Transaction Data Keys in the introduction.
      responses:
        '201':
          description: Transaction created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction_3'
        '401':
          description: Unauthorized
      security:
      - contextAuth: []
    servers:
    - url: https://ws.zipformplus.com/api
      description: Production
    - url: https://api.pre.zipformplus.com/api
      description: Staging/QA
  /transactions/{transactionId}:
    parameters:
    - $ref: '#/components/parameters/transactionId'
    get:
      summary: Get Transaction Metadata
      description: Returns the metadata for a specific transaction. Useful for a quick lookup of a transaction by its GUID.
      tags:
      - Transactions
      responses:
        '200':
          description: Transaction metadata returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction_3'
        '401':
          description: Unauthorized
        '404':
          description: Transaction not found
      security:
      - contextAuth: []
    delete:
      summary: Delete Transaction
      description: Deletes the specified transaction for the authenticated user.
      tags:
      - Transactions
      responses:
        '200':
          description: Transaction deleted successfully
        '401':
          description: Unauthorized
        '404':
          description: Transaction not found
      security:
      - contextAuth: []
    servers:
    - url: https://ws.zipformplus.com/api
      description: Production
    - url: https://api.pre.zipformplus.com/api
      description: Staging/QA
  /transactions/{transactionId}/data:
    parameters:
    - $ref: '#/components/parameters/transactionId'
    get:
      summary: Get Transaction Data
      description: Returns the data (key-value pairs) for a given transaction. See the Transaction Data Keys appendix in the introduction for the full list of available keys.
      tags:
      - Transactions
      responses:
        '200':
          description: Transaction data returned successfully
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '401':
          description: Unauthorized
        '404':
          description: Transaction not found
      security:
      - contextAuth: []
    post:
      summary: Set Transaction Data
      description: Sets the data for a given transaction. The `mode` parameter controls whether supplied data is merged with existing data (default) or replaces it entirely.
      tags:
      - Transactions
      parameters:
      - in: query
        name: mode
        schema:
          type: string
          enum:
          - Merge
          - Replace
          default: Merge
        description: Merge (default) adds to existing data; Replace removes existing data and sets the new values.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: string
              description: Key-value pairs of transaction data. See Transaction Data Keys in the introduction.
      responses:
        '200':
          description: Transaction data updated successfully
        '401':
          description: Unauthorized
        '404':
          description: Transaction not found
      security:
      - contextAuth: []
    servers:
    - url: https://ws.zipformplus.com/api
      description: Production
    - url: https://api.pre.zipformplus.com/api
      description: Staging/QA
components:
  schemas:
    ExternalAgent:
      required:
      - endCode
      - firstName
      - lastName
      - typeCode
      type: object
      properties:
        id:
          type: string
          description: The unique id.
          format: uuid
        createdTimestamp:
          type:
          - string
          - 'null'
          description: The date and time of creation in UTC time.
          format: date-time
        modifiedTimestamp:
          type:
          - string
          - 'null'
          description: The date and time last modification in UTC time.
          format: date-time
        endCode:
          enum:
          - B
          - S
          type: string
          description: The code end or side of the transaction.
        typeCode:
          enum:
          - B
          - R
          type: string
          description: The code for the type of external agent this is. This will be either "B" for outside broker or "R" for referral.
        paymentMethodCode:
          enum:
          - B
          - N
          - E
          type:
          - string
          - 'null'
          description: The code for the method use to pay the external agent.
        firstName:
          type: string
          description: The first name of the external agent.
        lastName:
          type: string
          description: The last name of the external agent.
        companyName:
          type:
          - string
          - 'null'
          description: The name of the company for which the external agent works.
        addressLine1:
          type:
          - string
          - 'null'
          description: The street address.
        addressLine2:
          type:
          - string
          - 'null'
          description: The address unit number.
        addressCity:
          type:
          - string
          - 'null'
          description: The city of the address.
        addressPostalCode:
          type:
          - string
          - 'null'
          description: The postal code of the address. This will be unformatted.
        addressProvinceCode:
          type:
          - string
          - 'null'
          description: The two character state or province code.
        addressCountryCode:
          type:
          - string
          - 'null'
          description: The two character country code.
        phoneNumberMain:
          type:
          - string
          - 'null'
          description: The external agent's main phone number.
        phoneNumberBusiness:
          type:
          - string
          - 'null'
          description: The external agent's business phone number.
        faxNumberMain:
          type:
          - string
          - 'null'
          description: The external agent's main fax number.
        emailAddressMain:
          type:
          - string
          - 'null'
          description: The external agent's main email address.
        emailAddressBusiness:
          type:
          - string
          - 'null'
          description: The external agent's business email address.
      additionalProperties: false
      description: Represents an agent involved in the transaction that does not work for the brokerage.
    TransactionPatchRequest:
      type: object
      properties:
        number:
          type:
          - string
          - 'null'
          description: The number assigned to the transaction.
          writeOnly: true
        mlsNumber:
          type:
          - string
          - 'null'
          description: The MLS number for the listing associated to the transaction.
          writeOnly: true
        statusCode:
          enum:
          - C
          - D
          - F
          - O
          - P
          - X
          type:
          - string
          - 'null'
          description: The code for the status of the transaction.
          writeOnly: true
        addressStreetNumber:
          type:
          - string
          - 'null'
          description: The street number.
          writeOnly: true
        addressStreetName:
          type:
          - string
          - 'null'
          description: The street name.
          writeOnly: true
        addressStreetDirection:
          type:
          - string
          - 'null'
          description: The street direction.
          writeOnly: true
        addressUnitNumber:
          type:
          - string
          - 'null'
          description: The unit number.
          writeOnly: true
        addressCity:
          type:
          - string
          - 'null'
          description: The city.
          writeOnly: true
        addressProvinceCode:
          type:
          - string
          - 'null'
          description: The two character state or province code.
          writeOnly: true
        addressPostalCode:
          type:
          - string
          - 'null'
          description: The postal code. This will be unformatted.
          writeOnly: true
        offerDate:
          type:
          - string
          - 'null'
          description: The date of the offer that started the transaction.
          format: date
          writeOnly: true
        closeDate:
          type:
          - string
          - 'null'
          description: The date the transaction closed.
          format: date
          writeOnly: true
        entryDate:
          type:
          - string
          - 'null'
          description: The date the transaction was put into the system.
          format: date
          writeOnly: true
        firmDate:
          type:
          - string
          - 'null'
          description: The date the transaction was firmed up, meaning all conditions were met and the transaction is moving forward.
          format: date
          writeOnly: true
        finalizeDate:
          type:
          - string
          - 'null'
          description: The date the transaction was finalized, meaning all the agents were paid.
          format: date
          writeOnly: true
        legalDescription:
          type:
          - string
          - 'null'
          description: The legal description of the property related to the transaction.
          writeOnly: true
        closePrice:
          type: number
          description: The price.
          format: double
          writeOnly: true
        classificationId:
          type:
          - string
          - 'null'
          description: The unique id of the classification associated with this transaction.
          format: uuid
          writeOnly: true
        propertyTypeId:
          type:
          - string
          - 'null'
          description: The unique id of the property type associated with this transaction.
          format: uuid
          writeOnly: true
      additionalProperties: false
      description: Used to patch properties of a condition.
    Transaction:
      type: object
      properties:
        id:
          type: string
          description: The unique id.
          format: uuid
        createdTimestamp:
          type:
          - string
          - 'null'
          description: The date and time of creation in UTC time.
          format: date-time
        modifiedTimestamp:
          type:
          - string
          - 'null'
          description: The date and time last modification in UTC time.
          format: date-time
        number:
          type:
          - string
          - 'null'
          description: The number assigned to the transaction.
        mlsNumber:
          type:
          - string
          - 'null'
          description: The MLS number for the listing associated to the transaction.
        statusCode:
          enum:
          - C
          - D
          - F
          - O
          - P
          - X
          type:
          - string
          - 'null'
          description: The code for the status of the transaction.
        addressStreetNumber:
          type:
          - string
          - 'null'
          description: The street number.
        addressStreetName:
          type:
          - string
          - 'null'
          description: The street name.
        addressStreetDirection:
          type:
          - string
          - 'null'
          description: The street direction.
        addressUnitNumber:
          type:
          - string
          - 'null'
          description: The unit number.
        addressCity:
          type:
          - string
          - 'null'
          description: The city.
        addressProvinceCode:
          type:
          - string
          - 'null'
          description: The two character state or province code.
        addressPostalCode:
          type:
          - string
          - 'null'
          description: The postal code. This will be unformatted.
        offerDate:
          type:
          - string
          - 'null'
          description: The date of the offer that started the transaction.
          format: date
        closeDate:
          type:
          - string
          - 'null'
          description: The date the transaction closed.
          format: date
        entryDate:
          type:
          - string
          - 'null'
          description: The date the transaction was put into the system.
          format: date
        firmDate:
          type:
          - string
          - 'null'
          description: The date the transaction was firmed up, meaning all conditions were met and the transaction is moving forward.
          format: date
        finalizeDate:
          type:
          - string
          - 'null'
          description: The date the transaction was finalized, meaning all the agents were paid.
          format: date
        legalDescription:
          type:
          - string
          - 'null'
          description: The legal description of the property related to the transaction.
        closePrice:
          type: number
          description: The price.
          format: double
        classificationId:
          type:
          - string
          - 'null'
          description: The unique id of the classification associated with this transaction.
          format: uuid
        propertyTypeId:
          type:
          - string
          - 'null'
          description: The unique id of the property type associated with this transaction.
          format: uuid
        classification:
          $ref: '#/components/schemas/ClassificationReadOnly'
        propertyType:
          $ref: '#/components/schemas/PropertyTypeReadOnly'
        conditions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Condition'
          description: A collection of all the conditions.
        deposits:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Deposit'
          description: A collection of all the deposits.
        tiers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Tier'
          description: A collection of all the tiers.
        externalAgents:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ExternalAgent'
          description: A collection of all the external agents.
        clientContacts:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ClientContact'
          description: A collection of all the client contacts.
        businessContacts:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/BusinessContact'
          description: A collection of all the business contacts.
      additionalProperties: false
      description: Represents a transaction.
    CommissionFee:
      type: object
      properties:
        id:
          type: string
          description: The unique id.
          format: uuid
        createdTimestamp:
          type:
          - string
          - 'null'
          description: The date and time of creation in UTC time.
          format: date-time
        modifiedTimestamp:
          type:
          - string
          - 'null'
          description: The date and time last modification in UTC time.
          format: date-time
        percentage:
          type: number
          description: The percentage of the commission. This will be specified as a decimal. For example, 5% will be specified as 0.05.
          format: double
        amount:
          type: number
          description: The amount of the fee.
          format: currency
        calculationMethodCode:
          enum:
          - A
          - P
          type:
          - string
          - 'null'
          description: The code for the method used to calculate the fee.
        taxAmount:
          type: number
          description: The amount of tax applied to the fee.
          format: currency
        taxPercentage:
          type: number
          description: The tax rate applied to the fee. This will be specified as a decimal. For example, 5% will be specified as 0.05.
          format: double
        paymentMethodCode:
          type:
          - string
          - 'null'
          description: The code for the method used to pay the fee.
        fee:
          $ref: '#/components/schemas/FeeReadOnly'
      additionalProperties: false
      description: Represents a fee that is related to a commission.
    ContactTypeReadOnly:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: The name of the contact type.
          readOnly: true
        code:
          type:
          - string
          - 'null'
          description: The unique code for the contact type.
          readOnly: true
      additionalProperties: false
      description: A read only representation of a contact type.
    ClassificationReadOnly:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: The name of the classification.
          readOnly: true
        code:
          type:
          - string
          - 'null'
          description: The code for the classification.
          readOnly: true
        endCount:
          maximum: 2
          minimum: 0
          type: number
          description: The total number of ends or sides this classification represents. This value will be either 0, 1 or 2.
          format: double
          readOnly: true
        endTypeCode:
          enum:
          - B
          - D
          - M
          - S
          - X
          type:
          - string
          - 'null'
          description: The code representing the end or side for the classification.
          readOnly: true
      additionalProperties: false
      description: A read only representation of a transaction classification.
    ClientContact:
      required:
      - contactTypeId
      - endCode
      - firstName
      - lastName
      type: object
      properties:
        id:
          type: string
          description: The unique id.
          format: uuid
        createdTimestamp:
          type:
          - string
          - 'null'
          description: The date and time of creation in UTC time.
          format: date-time
        modifiedTimestamp:
          type:
          - string
          - 'null'
          description: The date and time last modification in UTC time.
          format: date-time
        contactTypeId:
          type: string
          description: The unique id of the contact type.
[...]
