openapi: 3.2.0
info:
  title: Transact Offers API
  version: 1.0.0
  description: '# Transact API


    > **For AI assistants and coding agents:** a machine-readable OpenAPI 3.0.3 definition of this API is available at the `.json` download link on this page (or directly at `https://bump.sh//doc/transact/download`).'
  contact:
    name: Lone Wolf Technologies
    url: https://www.lwolf.com
servers:
- url: https://gateway.lwolf.com
  description: Production API gateway
- url: '{tw_host}'
  description: Environment-specific host (e.g. pre-production)
  variables:
    tw_host:
      default: https://api.pre.lwolf.com
      description: Base host for the target environment.
security:
- bearerAuth: []
  subscriptionKey: []
tags:
- name: Offers
  description: Manage offers on transactions.
paths:
  /transact-workflow/v1/Offers:
    post:
      tags:
      - Offers
      summary: Create an offer
      description: Creates a new offer on a transaction for the user specified in the request body. A user-scoped alternative is available at `POST /transact-workflow/v1/users/{userId}/Offers`.
      operationId: createOffer
      responses:
        '201':
          description: Offer created.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfferCreate'
  /transact-workflow/v1/users/{userId}/Offers:
    get:
      tags:
      - Offers
      summary: List offers
      description: Returns the offers visible to the specified user.
      operationId: getOffers
      responses:
        '200':
          description: Successful response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
      - name: userId
        in: path
        required: true
        description: Unique identifier (GUID) of the acting user. All Transact Workflow resources are scoped to a user.
        schema:
          type: string
          format: uuid
    post:
      tags:
      - Offers
      summary: Create an offer (user-scoped)
      description: Creates a new offer on a transaction under the specified user's path. Equivalent to `POST /transact-workflow/v1/Offers` with the user supplied in the path instead of the request body.
      operationId: createOfferForUser
      parameters:
      - name: userId
        in: path
        required: true
        description: Unique identifier (GUID) of the acting user.
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfferCreate'
      responses:
        '201':
          description: Offer created.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /transact-workflow/v1/users/{userId}/Offers/{offerId}:
    get:
      tags:
      - Offers
      summary: Get an offer
      description: Returns a single offer by its key.
      operationId: getOfferByKey
      responses:
        '200':
          description: Successful response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
      - name: userId
        in: path
        required: true
        description: Unique identifier (GUID) of the acting user. All Transact Workflow resources are scoped to a user.
        schema:
          type: string
          format: uuid
      - name: offerId
        in: path
        required: true
        description: GUID of the offer.
        schema:
          type: string
          format: uuid
    patch:
      tags:
      - Offers
      summary: Update an offer
      description: Applies a partial update to an offer. Only the fields present in the body are modified.
      operationId: updateOffer
      responses:
        '200':
          description: Successful response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
      - name: userId
        in: path
        required: true
        description: Unique identifier (GUID) of the acting user. All Transact Workflow resources are scoped to a user.
        schema:
          type: string
          format: uuid
      - name: offerId
        in: path
        required: true
        description: GUID of the offer.
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfferUpdate'
    delete:
      tags:
      - Offers
      summary: Delete an offer
      description: Deletes the specified offer.
      operationId: deleteOffer
      responses:
        '204':
          description: Offer deleted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
      - name: userId
        in: path
        required: true
        description: Unique identifier (GUID) of the acting user. All Transact Workflow resources are scoped to a user.
        schema:
          type: string
          format: uuid
      - name: offerId
        in: path
        required: true
        description: GUID of the offer.
        schema:
          type: string
          format: uuid
components:
  schemas:
    OfferUpdate:
      allOf:
      - $ref: '#/components/schemas/OfferBase'
      description: Partial offer representation. Only the provided fields are updated.
    OfferBase:
      type: object
      properties:
        closingDate:
          type: string
          format: date-time
          description: Closing date.
        finalWalkthroughDate:
          type: string
          format: date-time
          description: Final walkthrough date.
        possessionDate:
          type: string
          format: date-time
          description: Possession date.
        offerDate:
          type: string
          format: date-time
          description: Date the offer was made.
        expirationDate:
          type: string
          format: date-time
          description: Offer expiration date.
        acceptanceDate:
          type: string
          format: date-time
          description: Offer acceptance date.
        purchasePrice:
          type: number
          description: Purchase price.
          example: 650500
        deposit:
          type: number
          description: Deposit amount.
          example: 100000
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code or short error name.
        message:
          type: string
          description: Human-readable error description.
      additionalProperties: true
    OfferCreate:
      allOf:
      - type: object
        required:
        - userId
        - transactionId
        properties:
          userId:
            type: string
            format: uuid
            description: GUID of the user creating the offer.
          transactionId:
            type: string
            format: uuid
            description: GUID of the transaction the offer belongs to.
      - $ref: '#/components/schemas/OfferBase'
      description: Payload for creating a new offer on a transaction.
  responses:
    NotFound:
      description: The requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: The access token is missing, invalid, or expired.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: The request is malformed or contains invalid parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: The caller is not permitted to perform this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT access token obtained from the `/oauth/token` endpoint, sent as `Authorization: Bearer <token>`.'
    subscriptionKey:
      type: apiKey
      in: header
      name: lw-subscription-key
      description: API subscription key issued by Lone Wolf, sent on every request.
