openapi: 3.2.0
info:
  title: ZipForm Partner Forms and Documents API
  description: The zipForm® REST web service is made available on a licensed basis to third-party application partners.
  version: '5.1'
servers:
- url: https://ws.zipformplus.com/api
  description: Production
- url: https://api.pre.zipformplus.com/api
  description: Staging/QA
security:
- contextAuth: []
tags:
- name: Forms and Documents
  description: Manage forms and file documents within transactions.
paths:
  /transactions/{transactionId}/forms:
    parameters:
    - $ref: '#/components/parameters/transactionId'
    get:
      summary: Get Form List
      description: Returns the list of forms for a given transaction. Forms are distinguished by `contentType` having a value of `form`.
      tags:
      - Forms and Documents
      responses:
        '200':
          description: Form list returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/DocumentItem'
        '401':
          description: Unauthorized
        '404':
          description: Transaction not found
      operationId: getTransactionsByTransactionIdForms
      x-operation-id-source: derived
  /transactions/{transactionId}/documents:
    parameters:
    - $ref: '#/components/parameters/transactionId'
    get:
      summary: Get Document List
      description: Returns the list of documents and forms for a given transaction, in the same order as the zipForm® Plus UI. Use `excludeforms=true` to return only non-form documents.
      tags:
      - Forms and Documents
      parameters:
      - in: query
        name: excludeforms
        schema:
          type: boolean
        description: If true, only non-form documents are returned
      - in: query
        name: page
        schema:
          type: integer
      - in: query
        name: pagesize
        schema:
          type: integer
      - in: query
        name: orderby
        schema:
          type: string
          enum:
          - name
          - ContentType
      - in: query
        name: sortorder
        schema:
          type: string
          enum:
          - asc
          - desc
      responses:
        '200':
          description: Document list returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/DocumentItem'
        '204':
          description: No content — transaction has no documents
        '401':
          description: Unauthorized
        '404':
          description: Transaction not found
      operationId: getTransactionsByTransactionIdDocuments
      x-operation-id-source: derived
  /transactions/{transactionId}/documents/form:
    parameters:
    - $ref: '#/components/parameters/transactionId'
    post:
      summary: Add Form to Transaction
      description: Adds a form (by its GUID) to a transaction. Form GUIDs are obtained from the Get Library Forms endpoint.
      tags:
      - Forms and Documents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: string
                  format: uuid
                  description: Form GUID from the library
      responses:
        '201':
          description: Form added successfully. Returns the form GUID.
          content:
            application/json:
              schema:
                type: string
                format: uuid
        '401':
          description: Unauthorized
        '404':
          description: Transaction or form not found
      operationId: postTransactionsByTransactionIdDocumentsForm
      x-operation-id-source: derived
  /transactions/{transactionId}/documents/file:
    parameters:
    - $ref: '#/components/parameters/transactionId'
    post:
      summary: Upload File Document
      description: 'Uploads a file document to a transaction. If `Id` is omitted, a new document is created at version 1. If `Id` is provided and matches an existing document, a new version is added.


        **Supported MIME types:** `application/pdf`, `application/msword`, `application/vnd.openxmlformats-officedocument.wordprocessingml.document`, `application/vnd.ms-excel`, `application/vnd.openxmlformats-officedocument.spreadsheetml.sheet`, `image/jpeg`, `image/png`, `image/bmp`, `image/gif`'
      tags:
      - Forms and Documents
      parameters:
      - in: query
        name: Name
        required: true
        schema:
          type: string
        description: Document name
      - in: query
        name: Description
        required: true
        schema:
          type: string
        description: Document description
      - in: query
        name: ContainerId
        schema:
          type: string
        description: Optional folder ID to store the document in
      - in: query
        name: Id
        schema:
          type: string
        description: Optional document ID. If provided and found, adds a new version.
      requestBody:
        required: true
        content:
          application/pdf:
            schema:
              type: string
              format: binary
          application/msword:
            schema:
              type: string
              format: binary
          image/jpeg:
            schema:
              type: string
              format: binary
      responses:
        '201':
          description: Document uploaded. Returns the endpoint URL for the uploaded document.
        '401':
          description: Unauthorized
        '404':
          description: Document ID provided but not found
        '415':
          description: Unsupported media type
      operationId: postTransactionsByTransactionIdDocumentsFile
      x-operation-id-source: derived
  /transactions/{transactionId}/documents/{documentId}:
    parameters:
    - $ref: '#/components/parameters/transactionId'
    - $ref: '#/components/parameters/documentId'
    get:
      summary: Get Document Contents
      description: 'Returns the content of the specified form or document. If a form GUID is specified, returns it as a PDF. Otherwise returns the document in its existing format.


        Optionally append `/` to the URL to specify the form version or document version number.'
      tags:
      - Forms and Documents
      responses:
        '200':
          description: Document contents returned as a byte stream
        '401':
          description: Unauthorized
        '403':
          description: Blank PDF Not Allowed — form has no user-entered contents
        '404':
          description: Document not found
      operationId: getTransactionsByTransactionIdDocumentsByDocumentId
      x-operation-id-source: derived
    delete:
      summary: Delete Document
      description: Deletes the specified form or document from the transaction.
      tags:
      - Forms and Documents
      responses:
        '200':
          description: Document deleted successfully
        '401':
          description: Unauthorized
        '404':
          description: Document not found
      operationId: deleteTransactionsByTransactionIdDocumentsByDocumentId
      x-operation-id-source: derived
  /transactions/{transactionId}/documents/{documentId}/meta:
    parameters:
    - $ref: '#/components/parameters/transactionId'
    - $ref: '#/components/parameters/documentId'
    get:
      summary: Get Document Metadata
      description: 'Returns the metadata associated with a form or document. For forms, `size` is always 0. `signed` values: 0=not signed, 1=Docusign, 2=zipLogix Digital Ink, 3=zipLogix Digital Ink TouchSign.'
      tags:
      - Forms and Documents
      responses:
        '200':
          description: Document metadata returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentItem'
        '401':
          description: Unauthorized
        '404':
          description: Document not found
      operationId: getTransactionsByTransactionIdDocumentsByDocumentIdMeta
      x-operation-id-source: derived
  /transactions/{transactionId}/documents/{documentId}/hash:
    parameters:
    - $ref: '#/components/parameters/transactionId'
    - $ref: '#/components/parameters/documentId'
    get:
      summary: Get Form Hash
      description: Returns an MD5 hash of the form, calculated upon PDF generation. Useful for determining whether a form has changed since it was last retrieved.
      tags:
      - Forms and Documents
      responses:
        '200':
          description: MD5 hash returned
          content:
            text/plain:
              schema:
                type: string
                example: a933e383fcaf699a8041497bca7654a7
        '401':
          description: Unauthorized
        '404':
          description: Form not found
      operationId: getTransactionsByTransactionIdDocumentsByDocumentIdHash
      x-operation-id-source: derived
components:
  parameters:
    transactionId:
      name: transactionId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Transaction GUID
    documentId:
      name: documentId
      in: path
      required: true
      schema:
        type: string
      description: Document ID or Form GUID
  schemas:
    DocumentItem:
      type: object
      properties:
        id:
          type: string
          description: Document ID or Form GUID
        name:
          type: string
        description:
          type: string
        contentType:
          type: string
          description: form, PDF, doc, etc.
        version:
          type: string
        signed:
          type: integer
          description: 0=not signed, 1=Docusign, 2=zipLogix Digital Ink, 3=zipLogix Digital Ink TouchSign
        size:
          type: integer
          description: Size in bytes (0 for forms)
  securitySchemes:
    contextAuth:
      type: apiKey
      in: header
      name: X-Auth-ContextId
      description: Context Id obtained from an authentication endpoint. Must be used together with X-Auth-SharedKey.
    sharedKey:
      type: apiKey
      in: header
      name: X-Auth-SharedKey
      description: Shared Key provided by zipLogix to authenticate the partner application.
    externalIdAuth:
      type: apiKey
      in: header
      name: X-Auth-ExternalId
      description: External Id for partners authorized to use the External Id authentication scheme. Must be used together with X-Auth-SharedKey.
