openapi: 3.2.0
info:
  title: Transact Folders API
  version: 1.0.0
  description: '# Transact API


    > **For AI assistants and coding agents:** a machine-readable OpenAPI 3.0.3 definition of this API is available at the `.json` download link on this page (or directly at `https://bump.sh//doc/transact/download`).'
  contact:
    name: Lone Wolf Technologies
    url: https://www.lwolf.com
servers:
- url: https://gateway.lwolf.com
  description: Production API gateway
- url: '{tw_host}'
  description: Environment-specific host (e.g. pre-production)
  variables:
    tw_host:
      default: https://api.pre.lwolf.com
      description: Base host for the target environment.
security:
- bearerAuth: []
  subscriptionKey: []
tags:
- name: Folders
  description: Manage folders within transactions.
paths:
  /transact-workflow/v1/Folders:
    post:
      tags:
      - Folders
      summary: Create a folder
      description: Creates a new folder within a transaction for the user specified in the request body.
      operationId: createFolder
      responses:
        '201':
          description: Folder created.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderCreate'
  /transact-workflow/v1/users/{userId}/Folders:
    get:
      tags:
      - Folders
      summary: List folders
      description: Returns the transaction folders visible to the specified user.
      operationId: getFolders
      responses:
        '200':
          description: Successful response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
      - name: userId
        in: path
        required: true
        description: Unique identifier (GUID) of the acting user. All Transact Workflow resources are scoped to a user.
        schema:
          type: string
          format: uuid
  /transact-workflow/v1/users/{userId}/Folders/{folderId}:
    get:
      tags:
      - Folders
      summary: Get a folder
      description: Returns a single folder by its key.
      operationId: getFolderByKey
      responses:
        '200':
          description: Successful response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
      - name: userId
        in: path
        required: true
        description: Unique identifier (GUID) of the acting user. All Transact Workflow resources are scoped to a user.
        schema:
          type: string
          format: uuid
      - name: folderId
        in: path
        required: true
        description: GUID of the folder.
        schema:
          type: string
          format: uuid
    patch:
      tags:
      - Folders
      summary: Update a folder
      description: Applies a partial update to a folder. Only the fields present in the body are modified.
      operationId: updateFolder
      responses:
        '200':
          description: Successful response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
      - name: userId
        in: path
        required: true
        description: Unique identifier (GUID) of the acting user. All Transact Workflow resources are scoped to a user.
        schema:
          type: string
          format: uuid
      - name: folderId
        in: path
        required: true
        description: GUID of the folder.
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderUpdate'
    delete:
      tags:
      - Folders
      summary: Delete a folder
      description: Deletes the specified folder.
      operationId: deleteFolder
      responses:
        '204':
          description: Folder deleted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
      - name: userId
        in: path
        required: true
        description: Unique identifier (GUID) of the acting user. All Transact Workflow resources are scoped to a user.
        schema:
          type: string
          format: uuid
      - name: folderId
        in: path
        required: true
        description: GUID of the folder.
        schema:
          type: string
          format: uuid
components:
  responses:
    NotFound:
      description: The requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: The access token is missing, invalid, or expired.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: The request is malformed or contains invalid parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: The caller is not permitted to perform this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code or short error name.
        message:
          type: string
          description: Human-readable error description.
      additionalProperties: true
    FolderCreate:
      type: object
      required:
      - userId
      - transactionId
      - name
      properties:
        userId:
          type: string
          format: uuid
          description: GUID of the user creating the folder.
        transactionId:
          type: string
          format: uuid
          description: GUID of the transaction the folder belongs to.
        name:
          type: string
          description: Folder name.
          example: Closing Documents
    FolderUpdate:
      type: object
      properties:
        name:
          type: string
          description: Folder name.
      description: Partial folder representation. Only the provided fields are updated.
      additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT access token obtained from the `/oauth/token` endpoint, sent as `Authorization: Bearer <token>`.'
    subscriptionKey:
      type: apiKey
      in: header
      name: lw-subscription-key
      description: API subscription key issued by Lone Wolf, sent on every request.
