openapi: 3.2.0
info:
  title: Deals Deposit API
  version: 1.0.0
  description: '## Index


    For partner integration use (25.01.00)


    ### Getting Started


    #### Getting a JWT Access Token


    `POST https://authentication.api.lwolf.com/v1/login`


    All APIs require an *Authorization* HTTP Header that contains a *Bearer {token}* as its value.'
servers:
- url: https://deals.api.lwolf.com
  description: Base URL declared by the provider in apis.yml (roadmap#122).
security:
- BearerToken: []
tags:
- name: Deposit
paths:
  /deposits/{depositId}:
    get:
      summary: Get a deposit
      description: Using the deposit guid in the request path, the method requests a deposit.
      tags:
      - Deposit
      security:
      - BearerToken: []
      parameters:
      - name: depositId
        in: in path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Retrieved deposit successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deposit'
        '400':
          description: Invalid request. See response body for details.
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '404':
          description: Deposit not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Unknown error. See response body for details.
      operationId: getDepositsByDepositId
      x-operation-id-source: derived
    patch:
      summary: Update a deposit
      description: Updates a deposit based on deposit guid.
      tags:
      - Deposit
      security:
      - BearerToken: []
      parameters:
      - name: depositId
        in: in path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successfully updated a deposit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deposit'
        '400':
          description: Invalid request. See response body for details.
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '404':
          description: Deposit not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '412':
          description: Optimistic concurrency check failed. The If-Match header is missing or it does not contain the version currently in the database.
        '500':
          description: Unknown error. See response body for details.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deposit'
            example:
              id: string (UUID)
              date: string (date)
              amount: number (float)
              received: boolean
              interest: boolean
              held: boolean
              heldBy: string
              direct: boolean
              reference: string
      operationId: patchDepositsByDepositId
      x-operation-id-source: derived
    delete:
      summary: Delete a deposit
      description: Deletes a deposit based on its deposit guid.
      tags:
      - Deposit
      security:
      - BearerToken: []
      parameters:
      - name: depositId
        in: in path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successfully deleted a deposit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deposit'
        '400':
          description: Invalid request. See response body for details.
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '404':
          description: Deposit not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Unknown error. See response body for details.
      operationId: deleteDepositsByDepositId
      x-operation-id-source: derived
  /deals/{dealId}/deposits:
    get:
      summary: Get all deposits
      description: Using the deal guid in the request path, the method requests the associated deposits.
      tags:
      - Deposit
      security:
      - BearerToken: []
      parameters:
      - name: dealId
        in: in path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Retrieved deposits successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Deposit'
        '400':
          description: Invalid request. See response body for details.
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '404':
          description: Deal not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Unknown error. See response body for details.
      operationId: getDealsByDealIdDeposits
      x-operation-id-source: derived
    post:
      summary: Create a deposit
      description: Creates a deposit with a deal guid.
      tags:
      - Deposit
      security:
      - BearerToken: []
      parameters:
      - name: dealId
        in: in path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '201':
          description: Successfully created a deposit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deposit'
        '400':
          description: Invalid request. See response body for details.
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '409':
          description: Deposit already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Unknown error. See response body for details.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deposit'
            example:
              id: string (UUID)
              date: string (date)
              amount: number (float)
              received: boolean
              interest: boolean
              held: boolean
              heldBy: string
              direct: boolean
              reference: string
      operationId: postDealsByDealIdDeposits
      x-operation-id-source: derived
components:
  schemas:
    ApiError:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            type: string
    Deposit:
      type: object
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JSON Web Token obtained from the Authentication API (`POST /v1/login`). Pass the token as `Authorization: Bearer <token>` in every request. Tokens expire after the number of seconds specified in the `expiresIn` field of the login response.'
