openapi: 3.2.0
info:
  title: TransactionDesk Partner Transaction Statuses API
  description: Lonewolf's TransactionDesk API for Partners to integrate with the TransactionDesk application.
  version: '2.0'
servers:
- url: https://api.pre.transactiondesk.com
security:
- bearerAuth: []
tags:
- name: Transaction Statuses
  description: Manage transaction status definitions
paths:
  /v2/transactions/statuses:
    get:
      summary: Get All Transaction Statuses
      description: Returns all transaction statuses the authenticated user is entitled to see.
      tags:
      - Transaction Statuses
      responses:
        '200':
          description: List of transaction statuses returned successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TransactionStatus'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
      operationId: getV2TransactionsStatuses
      x-operation-id-source: derived
    post:
      summary: Create a Transaction Status
      description: Creates a new transaction status for the authenticated user.
      tags:
      - Transaction Statuses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  example: Fallen-Through
      responses:
        '200':
          description: Transaction status created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    example: ee9d3620-9b2f-437d-b522-3c785dbbfacd
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
      operationId: postV2TransactionsStatuses
      x-operation-id-source: derived
  /v2/transactions/statuses/{id}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
        format: uuid
      description: Transaction Status GUID
    get:
      summary: Get a Specific Transaction Status
      description: Returns a specific transaction status the authenticated user is entitled to see.
      tags:
      - Transaction Statuses
      responses:
        '200':
          description: Transaction status returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionStatus'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Transaction status not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      operationId: getV2TransactionsStatusesById
      x-operation-id-source: derived
    patch:
      summary: Update a Transaction Status
      description: Updates an existing transaction status. You can only update statuses you own.
      tags:
      - Transaction Statuses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Fallen-Through
      responses:
        '200':
          description: Transaction status updated successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Transaction status not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      operationId: patchV2TransactionsStatusesById
      x-operation-id-source: derived
    delete:
      summary: Delete a Transaction Status
      description: Deletes a specific transaction status. You can only delete statuses you own.
      tags:
      - Transaction Statuses
      responses:
        '200':
          description: Transaction status deleted successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Transaction status not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      operationId: deleteV2TransactionsStatusesById
      x-operation-id-source: derived
components:
  schemas:
    ErrorNotFound:
      type: object
      properties:
        code:
          type: integer
          example: 404
        message:
          type: string
          example: Item not found.
        details:
          type: array
          items: {}
    TransactionStatus:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: ee349fd8-5842-420f-84a2-9b80b8d9632e
          description: Unique identifier for this transaction status
        name:
          type: string
          example: Active
        ownerId:
          type: string
          format: uuid
          example: 476ba212-d96d-49e5-82df-3f474d9e9188
          description: Owner of this status (Global, Association, Office, or Personal level)
        dateCreated:
          type: string
          format: date-time
          example: '2008-03-02T04:26:50.607+00:00'
        lastModified:
          type: string
          format: date-time
          example: '2008-03-02T04:26:50.607+00:00'
    ErrorBadRequest:
      type: object
      properties:
        code:
          type: integer
          example: 400
        message:
          type: string
          example: Request was not valid.
        details:
          type: array
          items:
            type: string
    ErrorUnauthorized:
      type: object
      properties:
        code:
          type: integer
          example: 401
        message:
          type: string
          example: Unauthorized. The user is not authenticated.
        details:
          type: array
          items: {}
        data: {}
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
