openapi: 3.2.0
info:
  title: Transaction Forms API
  version: 1.0.0
  description: '# Transact API


    > **For AI assistants and coding agents:** a machine-readable OpenAPI 3.0.3 definition of this API is available at the `.json` download link on this page (or directly at `https://bump.sh//doc/transact/download`).'
  contact:
    name: Lone Wolf Technologies
    url: https://www.lwolf.com
servers:
- url: https://gateway.lwolf.com
  description: Production API gateway
- url: '{tw_host}'
  description: Environment-specific host (e.g. pre-production)
  variables:
    tw_host:
      default: https://api.pre.lwolf.com
      description: Base host for the target environment.
security:
- bearerAuth: []
  subscriptionKey: []
tags:
- name: Transaction Forms
  description: Manage forms attached to a transaction's form package (Forms Editor service).
paths:
  /forms-editor/api/v1/users/{userId}/FormPackages/{transactionId}/forms:
    get:
      tags:
      - Transaction Forms
      summary: List transaction forms
      description: Returns the forms attached to the specified transaction's form package.
      operationId: getTransactionForms
      responses:
        '200':
          description: Successful response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
      - name: userId
        in: path
        required: true
        description: Unique identifier (GUID) of the acting user. All Transact Workflow resources are scoped to a user.
        schema:
          type: string
          format: uuid
      - name: transactionId
        in: path
        required: true
        description: GUID of the transaction (form package).
        schema:
          type: string
          format: uuid
    post:
      tags:
      - Transaction Forms
      summary: Add forms to a transaction
      description: Adds one or more library forms to the transaction's form package.
      operationId: addFormsToTransaction
      responses:
        '201':
          description: Forms added to the transaction.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
      - name: userId
        in: path
        required: true
        description: Unique identifier (GUID) of the acting user. All Transact Workflow resources are scoped to a user.
        schema:
          type: string
          format: uuid
      - name: transactionId
        in: path
        required: true
        description: GUID of the transaction (form package).
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/FormPackageFormAdd'
  /forms-editor/api/v1/users/{userId}/FormPackages/{transactionId}/forms/{formId}:
    get:
      tags:
      - Transaction Forms
      summary: Get a transaction form PDF
      description: Returns the PDF rendering of a form attached to the transaction.
      operationId: getTransactionFormPdf
      responses:
        '200':
          description: Form PDF content.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
      - name: userId
        in: path
        required: true
        description: Unique identifier (GUID) of the acting user. All Transact Workflow resources are scoped to a user.
        schema:
          type: string
          format: uuid
      - name: transactionId
        in: path
        required: true
        description: GUID of the transaction (form package).
        schema:
          type: string
          format: uuid
      - name: formId
        in: path
        required: true
        description: GUID of the form within the form package.
        schema:
          type: string
          format: uuid
    patch:
      tags:
      - Transaction Forms
      summary: Move a form to another folder
      description: Updates the parent folder of a form within the transaction's form package.
      operationId: moveTransactionForm
      responses:
        '200':
          description: Successful response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
      - name: userId
        in: path
        required: true
        description: Unique identifier (GUID) of the acting user. All Transact Workflow resources are scoped to a user.
        schema:
          type: string
          format: uuid
      - name: transactionId
        in: path
        required: true
        description: GUID of the transaction (form package).
        schema:
          type: string
          format: uuid
      - name: formId
        in: path
        required: true
        description: GUID of the form within the form package.
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormMoveRequest'
components:
  responses:
    NotFound:
      description: The requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: The access token is missing, invalid, or expired.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: The request is malformed or contains invalid parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: The caller is not permitted to perform this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code or short error name.
        message:
          type: string
          description: Human-readable error description.
      additionalProperties: true
    FormPackageFormAdd:
      type: object
      required:
      - libraryId
      - formId
      properties:
        libraryId:
          type: string
          format: uuid
          description: GUID of the form library the form comes from.
        formId:
          type: string
          format: uuid
          description: GUID of the library form to add.
        parentId:
          type: string
          format: uuid
          description: GUID of the parent folder within the transaction to place the form in.
        sortOrder:
          type: integer
          description: Sort order of the form within its folder.
          example: 0
    FormMoveRequest:
      type: object
      required:
      - parentId
      properties:
        parentId:
          type: string
          format: uuid
          description: GUID of the destination folder for the form.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT access token obtained from the `/oauth/token` endpoint, sent as `Authorization: Bearer <token>`.'
    subscriptionKey:
      type: apiKey
      in: header
      name: lw-subscription-key
      description: API subscription key issued by Lone Wolf, sent on every request.
