openapi: 3.2.0
info:
  title: Deals Classification API
  version: 1.0.0
  description: '## Index


    For partner integration use (25.01.00)


    ### Getting Started


    #### Getting a JWT Access Token


    `POST https://authentication.api.lwolf.com/v1/login`


    All APIs require an *Authorization* HTTP Header that contains a *Bearer {token}* as its value.'
servers:
- url: https://deals.api.lwolf.com
  description: Base URL declared by the provider in apis.yml (roadmap#122).
security:
- BearerToken: []
tags:
- name: Classification
paths:
  /classifications:
    get:
      summary: Get all classifications for the brokerage
      description: Retrieves all classifications for the brokerage.
      tags:
      - Classification
      security:
      - BearerToken: []
      parameters: []
      responses:
        '200':
          description: Classifications found.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Classification'
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '500':
          description: Unknown error. See response body for details.
      operationId: getClassifications
      x-operation-id-source: derived
  /classifications/{classificationId}:
    get:
      summary: Get a classification
      description: Retrieves a single classification.
      tags:
      - Classification
      security:
      - BearerToken: []
      parameters:
      - name: classificationId
        in: in path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Classification found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Classification'
        '400':
          description: Invalid request. See response body for details.
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '404':
          description: Classification not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Unknown error. See response body for details.
      operationId: getClassificationsByClassificationId
      x-operation-id-source: derived
components:
  schemas:
    ApiError:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            type: string
    Classification:
      type: object
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JSON Web Token obtained from the Authentication API (`POST /v1/login`). Pass the token as `Authorization: Bearer <token>` in every request. Tokens expire after the number of seconds specified in the `expiresIn` field of the login response.'
