openapi: 3.2.0
info:
  title: ZipForm Partner Teams API
  description: The zipForm® REST web service is made available on a licensed basis to third-party application partners.
  version: '5.1'
servers:
- url: https://ws.zipformplus.com/api
  description: Production
- url: https://api.pre.zipformplus.com/api
  description: Staging/QA
security:
- contextAuth: []
tags:
- name: Teams
  description: Manage team-based transaction access for agents in brokerage or team scenarios.
paths:
  /teams:
    post:
      summary: Get List of Teams for an Agent
      description: Returns the list of teams the authenticated agent belongs to. A team may be a standalone team or a brokerage team. Returns an empty response if the agent is not part of any team.
      tags:
      - Teams
      responses:
        '200':
          description: Team list returned successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
        '401':
          description: Unauthorized
      operationId: postTeams
      x-operation-id-source: derived
components:
  schemas:
    Team:
      type: object
      properties:
        teamId:
          type: string
        name:
          type: string
        address:
          type: string
        created:
          type: string
          format: date-time
  securitySchemes:
    contextAuth:
      type: apiKey
      in: header
      name: X-Auth-ContextId
      description: Context Id obtained from an authentication endpoint. Must be used together with X-Auth-SharedKey.
    sharedKey:
      type: apiKey
      in: header
      name: X-Auth-SharedKey
      description: Shared Key provided by zipLogix to authenticate the partner application.
    externalIdAuth:
      type: apiKey
      in: header
      name: X-Auth-ExternalId
      description: External Id for partners authorized to use the External Id authentication scheme. Must be used together with X-Auth-SharedKey.
