openapi: 3.2.0
info:
  title: TransactionDesk Partner Transaction Contacts API
  description: Lonewolf's TransactionDesk API for Partners to integrate with the TransactionDesk application.
  version: '2.0'
servers:
- url: https://api.pre.transactiondesk.com
security:
- bearerAuth: []
tags:
- name: Transaction Contacts
  description: Manage contacts associated with transaction files
paths:
  /v2/transactions/{id}/contacts:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
        format: uuid
      description: TransactionGUID
    get:
      summary: Get All Transaction Contacts
      description: Returns a list of all contacts associated with a specific transaction.
      tags:
      - Transaction Contacts
      responses:
        '200':
          description: List of contacts returned successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TransactionContact'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
      operationId: getV2TransactionsByIdContacts
      x-operation-id-source: derived
    post:
      summary: Create a Transaction Contact
      description: 'Creates a new contact associated with a specific transaction. Required fields: `firstName`, `lastName`, `typeId`, `transactionId`.'
      tags:
      - Transaction Contacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionContact'
      responses:
        '200':
          description: Contact created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    example: d70cf831-53ca-41b4-9214-aa6acce37718
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
      operationId: postV2TransactionsByIdContacts
      x-operation-id-source: derived
  /v2/transactions/{transactionId}/contacts/{contactId}:
    parameters:
    - in: path
      name: transactionId
      required: true
      schema:
        type: string
        format: uuid
      description: TransactionGUID
    - in: path
      name: contactId
      required: true
      schema:
        type: string
        format: uuid
      description: ContactGUID
    get:
      summary: Get a Specific Transaction Contact
      description: Returns a specific contact associated with a transaction.
      tags:
      - Transaction Contacts
      responses:
        '200':
          description: Contact returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionContact'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Contact not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      operationId: getV2TransactionsByTransactionIdContactsByContactId
      x-operation-id-source: derived
    patch:
      summary: Update a Transaction Contact
      description: Updates one or more attributes of a specific transaction contact.
      tags:
      - Transaction Contacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionContact'
      responses:
        '200':
          description: Contact updated successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Contact not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      operationId: patchV2TransactionsByTransactionIdContactsByContactId
      x-operation-id-source: derived
    delete:
      summary: Delete a Transaction Contact
      description: Deletes a specific contact from a transaction.
      tags:
      - Transaction Contacts
      responses:
        '200':
          description: Contact deleted successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Contact not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      operationId: deleteV2TransactionsByTransactionIdContactsByContactId
      x-operation-id-source: derived
components:
  schemas:
    ErrorNotFound:
      type: object
      properties:
        code:
          type: integer
          example: 404
        message:
          type: string
          example: Item not found.
        details:
          type: array
          items: {}
    ErrorBadRequest:
      type: object
      properties:
        code:
          type: integer
          example: 400
        message:
          type: string
          example: Request was not valid.
        details:
          type: array
          items:
            type: string
    ErrorUnauthorized:
      type: object
      properties:
        code:
          type: integer
          example: 401
        message:
          type: string
          example: Unauthorized. The user is not authenticated.
        details:
          type: array
          items: {}
        data: {}
    TransactionContact:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 805355ec-7f7d-413e-986a-c767ea0632da
          description: ContactGUID
        transactionId:
          type: string
          format: uuid
          example: 34bfff2a-d186-48c6-b09d-6c15232cfe26
          description: TransactionGUID this contact is associated with
        preferredName:
          type: string
          example: Bobby Jones
          description: Preferred name; overrides firstName/lastName on real estate forms
        firstName:
          type: string
          example: Robert
        middleName:
          type: string
          example: P
        lastName:
          type: string
          example: Jones
        fullAddress:
          type: string
          example: 100 Wellington St.
          description: Street number and name
        city:
          type: string
          example: London
        state:
          type: string
          example: 'ON'
        zipCode:
          type: string
          example: N6E B3B
        phone:
          type: string
          example: 519-000-0000
        fax:
          type: string
          example: 519-000-0001
        cell:
          type: string
          example: 519-000-0002
        email:
          type: string
          format: email
          example: bobbyjones@fakeemail.com
        company:
          type: string
          example: Bobby Jones Real Estate
        typeId:
          type: string
          format: uuid
          example: 918753cd-df9d-4a8c-b9c5-2d0115835ea0
          description: Contact type GUID. See Glossary for values.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
