openapi: 3.2.0
info:
  title: Deals Deal API
  version: 1.0.0
  description: '## Index


    For partner integration use (25.01.00)


    ### Getting Started


    #### Getting a JWT Access Token


    `POST https://authentication.api.lwolf.com/v1/login`


    All APIs require an *Authorization* HTTP Header that contains a *Bearer {token}* as its value.'
servers:
- url: https://deals.api.lwolf.com
  description: Base URL declared by the provider in apis.yml (roadmap#122).
security:
- BearerToken: []
tags:
- name: Deal
paths:
  /deals/{dealId}:
    get:
      summary: Get a deal
      description: Using the deal guid in the request path, the method requests a deal.
      tags:
      - Deal
      security:
      - BearerToken: []
      parameters:
      - name: dealId
        in: in path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Retrieved deal successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deal'
        '400':
          description: Invalid request. See response body for details.
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '404':
          description: Deal not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '412':
          description: Optimistic concurrency check failed. The If-Match header is missing or it does not contain the version currently in the database.
        '500':
          description: Unknown error. See response body for details.
      operationId: getDealsByDealId
      x-operation-id-source: derived
    patch:
      summary: Update a deal
      description: Updates a deal based on its deal id.
      tags:
      - Deal
      security:
      - BearerToken: []
      parameters:
      - name: dealId
        in: in path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successfully patched a deal.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deal'
        '400':
          description: Invalid request. See response body for details.
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '404':
          description: Deal not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '412':
          description: Optimistic concurrency check failed. The If-Match header is missing or it does not contain the version currently in the database.
        '500':
          description: Unknown error. See response body for details.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deal'
            example:
              id: string (UUID)
              culture: string
              number: string
              mlsNumber: string
              statusCode: string
              classCode: string
              name: string
              addressStreetNumber: string
              addressStreetName: string
              addressStreetDirection: string
              addressUnitNumber: string
              addressCity: string
              addressProvinceCode: string
              addressPostalCode: string
              addressCountryCode: string
              offerDate: string (date)
              closeDate: string (date)
              entryDate: string (date)
              finalizeDate: string (date)
              firmDate: string (date)
              closePrice: number (float)
              legalDescription: string
              classification:
                id: string (UUID)
                createdTimestamp: string (date-time)
                modifiedTimestamp: string (date-time)
                code: string
                name: string
                endTypeCode: string
                endCount: string
              propertyType:
                id: string (UUID)
                createdTimestamp: string (date-time)
                modifiedTimestamp: string (date-time)
                code: string
                name: string
                shortName: string
                classCode: string
              businessContacts: []
              client-contacts: []
              conditions: []
              deposits: []
              externalAgents: []
              tiers: []
      operationId: patchDealsByDealId
      x-operation-id-source: derived
    delete:
      summary: Delete a deal
      description: Deletes a deal based on its deal id.
      tags:
      - Deal
      security:
      - BearerToken: []
      parameters:
      - name: dealId
        in: in path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully deleted a deal.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deal'
        '400':
          description: Invalid request. See response body for details.
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '404':
          description: Deal not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Unknown error. See response body for details.
      operationId: deleteDealsByDealId
      x-operation-id-source: derived
  /deals:
    get:
      summary: Get all deals
      description: Requests all deals.
      tags:
      - Deal
      security:
      - BearerToken: []
      parameters: []
      responses:
        '200':
          description: Retrieved deals successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Deal'
        '400':
          description: Invalid request. See response body for details.
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '500':
          description: Unknown error. See response body for details.
      operationId: getDeals
      x-operation-id-source: derived
    post:
      summary: Create a deal
      description: Creates a deal.
      tags:
      - Deal
      security:
      - BearerToken: []
      parameters: []
      responses:
        '201':
          description: Successfully created a deal.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deal'
        '400':
          description: Invalid request. See response body for details.
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '409':
          description: Deal already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Unknown error. See response body for details.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deal'
            example:
              id: string (UUID)
              culture: string
              number: string
              mlsNumber: string
              statusCode: string
              classCode: string
              name: string
              addressStreetNumber: string
              addressStreetName: string
              addressStreetDirection: string
              addressUnitNumber: string
              addressCity: string
              addressProvinceCode: string
              addressPostalCode: string
              addressCountryCode: string
              offerDate: string (date)
              closeDate: string (date)
              entryDate: string (date)
              finalizeDate: string (date)
              firmDate: string (date)
              closePrice: number (float)
              legalDescription: string
              classification:
                id: string (UUID)
                createdTimestamp: string (date-time)
                modifiedTimestamp: string (date-time)
                code: string
                name: string
                endTypeCode: string
                endCount: string
              propertyType:
                id: string (UUID)
                createdTimestamp: string (date-time)
                modifiedTimestamp: string (date-time)
                code: string
                name: string
                shortName: string
                classCode: string
              businessContacts: []
              client-contacts: []
              conditions: []
              deposits: []
              externalAgents: []
              tiers: []
      operationId: postDeals
      x-operation-id-source: derived
  /deals/{dealId}/submit:
    post:
      summary: Submit deal
      description: Submits a deal with a deal id so that it will replicated in brokerWOLF
      tags:
      - Deal
      security:
      - BearerToken: []
      parameters:
      - name: dealId
        in: in path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully submitted a deal.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deal'
        '400':
          description: Invalid request. See response body for details.
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '404':
          description: Deal not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Unknown error. See response body for details.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deal'
      operationId: postDealsByDealIdSubmit
      x-operation-id-source: derived
  /deals/{dealId}/history:
    get:
      summary: Get deal history
      description: Using the deal guid in the request path, the method requests a deal's history. History is a list of log entries.
      tags:
      - Deal
      security:
      - BearerToken: []
      parameters:
      - name: dealId
        in: in path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Retrieved deal history successfully.
        '400':
          description: Invalid request. See response body for details.
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '404':
          description: Deal not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Unknown error. See response body for details.
      operationId: getDealsByDealIdHistory
      x-operation-id-source: derived
  /deals/search:
    get:
      summary: Search for deals
      description: Using various request parameters, looks up a deal summary.
      tags:
      - Deal
      security:
      - BearerToken: []
      parameters:
      - name: dealId
        in: in path
        required: true
        schema:
          type: string
          format: uuid
      - name: entityPath
        in: in header
        required: true
        schema:
          type: string
      - name: fieldName
        in: in header
        required: true
        schema:
          type: string
      - name: searchText
        in: in header
        required: true
        schema:
          type: string
      - name: typeCodes
        in: in header
        required: true
        schema:
          type: string
      - name: orderBy
        in: in header
        required: true
        schema:
          type: string
      - name: direction
        in: in header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Retrieved deal summary successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DealSummary'
        '400':
          description: Invalid request. See response body for details.
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '500':
          description: Unknown error. See response body for details.
      operationId: getDealsSearch
      x-operation-id-source: derived
  /deals/{dealId}/bw-sync-status:
    get:
      summary: Get the sync status of the deal with brokerWOLF
      description: Using the deal guid in the request path, the method requests the sync status with Broker Wolf
      tags:
      - Deal
      security:
      - BearerToken: []
      parameters:
      - name: dealId
        in: in path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Retrieved deal sync status successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DealSyncStatus'
        '400':
          description: Invalid request. See response body for details.
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '404':
          description: Deal Sync Status not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '412':
          description: Optimistic concurrency check failed. The If-Match header is missing or it does not contain the version currently in the database.
        '500':
          description: Unknown error. See response body for details.
      operationId: getDealsByDealIdBwSyncStatus
      x-operation-id-source: derived
  /deals/{dealId}/summary:
    get:
      summary: Get the summary of a deal
      description: Using the deal guid in the request path, the method requests a summary.
      tags:
      - Deal
      security:
      - BearerToken: []
      parameters:
      - name: dealId
        in: in path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Retrieved deal summary successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DealSummary'
        '400':
          description: Invalid request. See response body for details.
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '404':
          description: Deal Summary not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '412':
          description: Optimistic concurrency check failed. The If-Match header is missing or it does not contain the version currently in the database.
        '500':
          description: Unknown error. See response body for details.
      operationId: getDealsByDealIdSummary
      x-operation-id-source: derived
components:
  schemas:
    ApiError:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            type: string
    DealSummary:
      type: object
    Deal:
      type: object
      properties:
        id:
          type: string
          format: uuid
        version:
          type: integer
          format: int32
        createdTimestamp:
          type: string
          format: date-time
        modifiedTimestamp:
          type: string
          format: date-time
        culture:
          type: string
        number:
          type: string
        mlsNumber:
          type: string
        statusCode:
          type: string
        classCode:
          type: string
        name:
          type: string
        addressStreetNumber:
          type: string
        addressStreetName:
          type: string
        addressStreetDirection:
          type: string
        addressUnitNumber:
          type: string
        addressCity:
          type: string
        addressProvinceCode:
          type: string
        addressPostalCode:
          type: string
        addressCountryCode:
          type: string
        offerDate:
          type: string
          format: date
        closeDate:
          type: string
          format: date
        entryDate:
          type: string
          format: date
        finalizeDate:
          type: string
          format: date
        firmDate:
          type: string
          format: date
        closePrice:
          type: number
          format: float
        legalDescription:
          type: string
        classification:
          type: object
          properties:
            id:
              type: string
              format: uuid
            createdTimestamp:
              type: string
              format: date-time
            modifiedTimestamp:
              type: string
              format: date-time
            code:
              type: string
            name:
              type: string
            endTypeCode:
              type: string
            endCount:
              type: string
        propertyType:
          type: object
          properties:
            id:
              type: string
              format: uuid
            createdTimestamp:
              type: string
              format: date-time
            modifiedTimestamp:
              type: string
              format: date-time
            code:
              type: string
            name:
              type: string
            shortName:
              type: string
            classCode:
              type: string
        businessContacts:
          type: array
          items: {}
        client-contacts:
          type: array
          items: {}
        conditions:
          type: array
          items: {}
        deposits:
          type: array
          items: {}
        externalAgents:
          type: array
          items: {}
        tiers:
          type: array
          items: {}
    DealSyncStatus:
      type: object
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JSON Web Token obtained from the Authentication API (`POST /v1/login`). Pass the token as `Authorization: Bearer <token>` in every request. Tokens expire after the number of seconds specified in the `expiresIn` field of the login response.'
