openapi: 3.2.0
info:
  title: TransactionDesk Partner Metadata API
  description: Lonewolf's TransactionDesk API for Partners to integrate with the TransactionDesk application.
  version: '2.0'
servers:
- url: https://api.pre.transactiondesk.com
security:
- bearerAuth: []
tags:
- name: Metadata
  description: Retrieve metadata and property specifications for API resources
paths:
  /v2/transactions/statuses/meta:
    get:
      summary: Get Metadata
      description: Returns metadata for a GET request, including the default number of records returned, the maximum, and the default sort order. Not available on transaction details or transaction contacts endpoints.
      tags:
      - Metadata
      responses:
        '200':
          description: Metadata returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Metadata not available for this resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      operationId: getV2TransactionsStatusesMeta
      x-operation-id-source: derived
  /v2/transactions/statuses/meta/properties:
    get:
      summary: Get Metadata Properties
      description: Returns the attributes of a resource along with their sort, filter, and type specifications.
      tags:
      - Metadata
      responses:
        '200':
          description: Metadata properties returned successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MetadataProperty'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Metadata not available for this resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      operationId: getV2TransactionsStatusesMetaProperties
      x-operation-id-source: derived
components:
  schemas:
    ErrorNotFound:
      type: object
      properties:
        code:
          type: integer
          example: 404
        message:
          type: string
          example: Item not found.
        details:
          type: array
          items: {}
    MetadataProperty:
      type: object
      properties:
        name:
          type: string
          example: Id
          description: Attribute name returned in the payload
        type:
          type: string
          example: Guid
          description: Attribute type (Guid, String, DateTimeOffset, etc.)
        canFilter:
          type: boolean
          example: true
          description: Whether this attribute can be filtered
        canSort:
          type: boolean
          example: true
          description: Whether this attribute can be sorted
        filterType:
          type: string
          example: Equals
          description: Whether filtering does a contains search or exact match
    ErrorUnauthorized:
      type: object
      properties:
        code:
          type: integer
          example: 401
        message:
          type: string
          example: Unauthorized. The user is not authenticated.
        details:
          type: array
          items: {}
        data: {}
    Metadata:
      type: object
      properties:
        defaultTake:
          type: integer
          example: 10
          description: Default number of records returned when not using a filter
        maxTake:
          type: integer
          example: 100
          description: Maximum records returnable using the $take filter
        defaultOrder:
          type: string
          example: Name
          description: Default sort order
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
