openapi: 3.2.0
info:
  title: TransactionDesk Partner Transaction Documents API
  description: Lonewolf's TransactionDesk API for Partners to integrate with the TransactionDesk application.
  version: '2.0'
servers:
- url: https://api.pre.transactiondesk.com
security:
- bearerAuth: []
tags:
- name: Transaction Documents
  description: Manage documents within transaction files
paths:
  /v2/transactions/{id}/documents:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
        format: uuid
      description: TransactionGUID
    get:
      summary: Get All Documents
      description: Returns a full list of documents associated with a specific transaction.
      tags:
      - Transaction Documents
      parameters:
      - in: query
        name: $orderDir
        schema:
          type: string
          enum:
          - asc
          - desc
      - in: query
        name: $skip
        schema:
          type: integer
      - in: query
        name: $take
        schema:
          type: integer
          maximum: 100
      - in: query
        name: $orderBy
        schema:
          type: string
      responses:
        '200':
          description: List of documents returned successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Document'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
      operationId: getV2TransactionsByIdDocuments
      x-operation-id-source: derived
    post:
      summary: Upload a Document
      description: Uploads a new document to a specific transaction. The document binary must be Base64 encoded.
      tags:
      - Transaction Documents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - documentName
              - binary
              - fileTypeId
              properties:
                documentName:
                  type: string
                  example: Purchase Agreement
                binary:
                  type: string
                  description: Base64 encoded document binary
                fileTypeId:
                  type: string
                  format: uuid
                  description: File type GUID. See Glossary for values.
      responses:
        '200':
          description: Document uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
      operationId: postV2TransactionsByIdDocuments
      x-operation-id-source: derived
  /v2/transactions/{transactionId}/documents/{documentId}:
    parameters:
    - in: path
      name: transactionId
      required: true
      schema:
        type: string
        format: uuid
      description: TransactionGUID
    - in: path
      name: documentId
      required: true
      schema:
        type: string
        format: uuid
      description: DocumentGUID
    get:
      summary: Get a Specific Document
      description: Returns the document binary of a specific file within a transaction.
      tags:
      - Transaction Documents
      responses:
        '200':
          description: Document returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentWithBinary'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Document not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      operationId: getV2TransactionsByTransactionIdDocumentsByDocumentId
      x-operation-id-source: derived
    patch:
      summary: Update a Document
      description: Updates the name of a specific document within a transaction.
      tags:
      - Transaction Documents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                documentName:
                  type: string
      responses:
        '200':
          description: Document updated successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Document not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      operationId: patchV2TransactionsByTransactionIdDocumentsByDocumentId
      x-operation-id-source: derived
    delete:
      summary: Delete a Document
      description: Deletes a specific document within a transaction.
      tags:
      - Transaction Documents
      responses:
        '200':
          description: Document deleted successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Document not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      operationId: deleteV2TransactionsByTransactionIdDocumentsByDocumentId
      x-operation-id-source: derived
components:
  schemas:
    ErrorNotFound:
      type: object
      properties:
        code:
          type: integer
          example: 404
        message:
          type: string
          example: Item not found.
        details:
          type: array
          items: {}
    ErrorBadRequest:
      type: object
      properties:
        code:
          type: integer
          example: 400
        message:
          type: string
          example: Request was not valid.
        details:
          type: array
          items:
            type: string
    DocumentWithBinary:
      allOf:
      - $ref: '#/components/schemas/Document'
      - type: object
        properties:
          binary:
            type: string
            description: Base64 encoded document binary
            example: JVBERi0xLjQKJeLjz9MKMSAwIG9iago8PC9U....
    Document:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 805355ec-7f7d-413e-986a-c767ea0632da
          description: DocumentGUID
        fileTypeId:
          type: string
          format: uuid
          example: 6db4d39b-d96d-4cfd-b97e-0c9cd1a176f9
          description: File type GUID. See Glossary for values.
        documentName:
          type: string
          example: 1916 Glenarbor Way
        dateCreated:
          type: string
          format: date-time
          example: '2019-05-14T23:49:49.143+00:00'
        lastModified:
          type: string
          format: date-time
          example: '2019-05-14T23:49:52.27+00:00'
    ErrorUnauthorized:
      type: object
      properties:
        code:
          type: integer
          example: 401
        message:
          type: string
          example: Unauthorized. The user is not authenticated.
        details:
          type: array
          items: {}
        data: {}
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
