openapi: 3.2.0
info:
  title: TransactionDesk Partner Transaction Types API
  description: Lonewolf's TransactionDesk API for Partners to integrate with the TransactionDesk application.
  version: '2.0'
servers:
- url: https://api.pre.transactiondesk.com
security:
- bearerAuth: []
tags:
- name: Transaction Types
  description: Manage transaction type definitions
paths:
  /v2/transactions/types:
    get:
      summary: Get All Transaction Types
      description: Returns all transaction types the authenticated user is entitled to see. A user can see Global, Association, Office, and Personal level types, but can only PATCH/DELETE their own.
      tags:
      - Transaction Types
      responses:
        '200':
          description: List of transaction types returned successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TransactionType'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
      operationId: getV2TransactionsTypes
      x-operation-id-source: derived
    post:
      summary: Create a Transaction Type
      description: Creates a new transaction type for the authenticated user.
      tags:
      - Transaction Types
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  example: Rental Property
      responses:
        '200':
          description: Transaction type created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    example: ee9d3620-9b2f-437d-b522-3c785dbbfacd
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
      operationId: postV2TransactionsTypes
      x-operation-id-source: derived
  /v2/transactions/types/{id}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
        format: uuid
      description: Transaction Type GUID
    get:
      summary: Get a Specific Transaction Type
      description: Returns a specific transaction type the authenticated user is entitled to see.
      tags:
      - Transaction Types
      responses:
        '200':
          description: Transaction type returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionType'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Transaction type not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      operationId: getV2TransactionsTypesById
      x-operation-id-source: derived
    patch:
      summary: Update a Transaction Type
      description: Updates an existing transaction type. You can only update types you own.
      tags:
      - Transaction Types
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Rental Property
      responses:
        '200':
          description: Transaction type updated successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Transaction type not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      operationId: patchV2TransactionsTypesById
      x-operation-id-source: derived
    delete:
      summary: Delete a Transaction Type
      description: Deletes a specific transaction type. You can only delete types you own.
      tags:
      - Transaction Types
      responses:
        '200':
          description: Transaction type deleted successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Transaction type not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      operationId: deleteV2TransactionsTypesById
      x-operation-id-source: derived
components:
  schemas:
    ErrorNotFound:
      type: object
      properties:
        code:
          type: integer
          example: 404
        message:
          type: string
          example: Item not found.
        details:
          type: array
          items: {}
    ErrorBadRequest:
      type: object
      properties:
        code:
          type: integer
          example: 400
        message:
          type: string
          example: Request was not valid.
        details:
          type: array
          items:
            type: string
    ErrorUnauthorized:
      type: object
      properties:
        code:
          type: integer
          example: 401
        message:
          type: string
          example: Unauthorized. The user is not authenticated.
        details:
          type: array
          items: {}
        data: {}
    TransactionType:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 8bd47056-64b5-41dd-ad97-53f6a7debe80
          description: Unique identifier for this transaction type
        name:
          type: string
          example: Commercial Lease
        ownerId:
          type: string
          format: uuid
          example: 476ba212-d96d-49e5-82df-3f474d9e9188
          description: Owner of this type (Global, Association, Office, or Personal level)
        dateCreated:
          type: string
          format: date-time
          example: '2012-01-18T20:42:38.737'
        lastModified:
          type: string
          format: date-time
          example: '2012-01-18T20:42:38.737'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
