openapi: 3.2.0
info:
  title: TransactionDesk Partner Single Sign On API
  description: Lonewolf's TransactionDesk API for Partners to integrate with the TransactionDesk application.
  version: '2.0'
servers:
- url: https://api.pre.transactiondesk.com
security:
- bearerAuth: []
tags:
- name: Single Sign On
  description: Generate one-time-use SSO links for the agent dashboard, transaction list, or a specific transaction
paths:
  /v2/view-url:
    get:
      summary: Get Agent Dashboard SSO Link
      description: Returns a one-time-use SSO link that lands the user directly on their Agent Dashboard page.
      tags:
      - Single Sign On
      responses:
        '200':
          description: SSO link returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSOLink'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
      operationId: getV2ViewUrl
      x-operation-id-source: derived
  /v2/transactions/view-url:
    get:
      summary: Get Transaction List SSO Link
      description: Returns a one-time-use SSO link that lands the user directly on their Transaction List page.
      tags:
      - Single Sign On
      responses:
        '200':
          description: SSO link returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSOLink'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
      operationId: getV2TransactionsViewUrl
      x-operation-id-source: derived
  /v2/transactions/{id}/view-url:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
        format: uuid
      description: TransactionGUID
    get:
      summary: Get Specific Transaction SSO Link
      description: Returns a one-time-use SSO link that lands the user directly into a specific transaction.
      tags:
      - Single Sign On
      responses:
        '200':
          description: SSO link returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSOLink'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
      operationId: getV2TransactionsByIdViewUrl
      x-operation-id-source: derived
components:
  schemas:
    ErrorUnauthorized:
      type: object
      properties:
        code:
          type: integer
          example: 401
        message:
          type: string
          example: Unauthorized. The user is not authenticated.
        details:
          type: array
          items: {}
        data: {}
    SSOLink:
      type: object
      properties:
        link:
          type: string
          example: https://td2.transactiondesk.com/external/entry.ashx?i=28403062-47a4-4a7a-ae3d-b3f64decd32e
          description: One-time-use single sign on link
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
