openapi: 3.2.0
info:
  title: Back Office Features API
  version: '1.0'
  description: Represents the different features that are enabled or disabled for a client.
servers:
- url: https://api.lwolf.com/backoffice
tags:
- name: Features
  description: Represents the different features that are enabled or disabled for a client.
paths:
  /v1/features:
    get:
      tags:
      - Features
      summary: Get Features
      operationId: get-v1-features
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Feature'
              example:
              - id: string
                createdTimestamp: string
                modifiedTimestamp: string
                code: string
                enabled: true
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
  /v1/features/{featureId}:
    get:
      tags:
      - Features
      summary: Get Feature
      operationId: get-v1-features-featureid
      parameters:
      - name: featureId
        in: path
        description: The id of the feature.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feature'
              example:
                id: string
                createdTimestamp: string
                modifiedTimestamp: string
                code: string
                enabled: true
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
    patch:
      tags:
      - Features
      summary: Update Feature
      operationId: patch-v1-features-featureid
      parameters:
      - name: featureId
        in: path
        description: The id of the feature.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: The properties of the feature to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeaturePatchRequest'
            example:
              enabled: true
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Feature'
              example:
                id: string
                createdTimestamp: string
                modifiedTimestamp: string
                code: string
                enabled: true
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '422':
          description: Validation failed. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
components:
  schemas:
    Feature:
      required:
      - code
      type: object
      properties:
        id:
          type: string
          description: The unique id.
          format: uuid
        createdTimestamp:
          type:
          - string
          - 'null'
          description: The date and time of creation in UTC time.
          format: date-time
        modifiedTimestamp:
          type:
          - string
          - 'null'
          description: The date and time last modification in UTC time.
          format: date-time
        code:
          type: string
          description: The code.
        enabled:
          type: boolean
          description: True if the feature is enabled.
      additionalProperties: false
      description: Represents a feature in back office.
    ApiError:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for the error.
          readOnly: true
        code:
          type: integer
          description: A code used to help identify the type of error. This is typically set to the same value as the http status code.
          format: int32
          readOnly: true
        message:
          type: string
          description: A summary or short message describing the error.
          readOnly: true
        details:
          type:
          - array
          - 'null'
          items:
            type: string
          description: A list of more detailed errors messages.
          readOnly: true
      additionalProperties: false
    FeaturePatchRequest:
      type: object
      properties:
        enabled:
          type: boolean
          description: Enables or disables the feature.
          writeOnly: true
      additionalProperties: false
      description: Used to update the properties of a feature.
x-topics:
- title: Overview
  content:
    $ref: ./docs/backoffice-overview.md
- title: Getting started
  content:
    $ref: ./docs/getting-started.md
- title: Authentication Token
  content:
    $ref: ./docs/authentication.md
- title: HTTP Request
  content:
    $ref: ./docs/http-request.md
