openapi: 3.2.0
info:
  title: ZipForm Partner Authentisign API
  description: The zipForm® REST web service is made available on a licensed basis to third-party application partners.
  version: '5.1'
servers:
- url: https://ws.zipformplus.com/api
  description: Production
- url: https://api.pre.zipformplus.com/api
  description: Staging/QA
security:
- contextAuth: []
tags:
- name: Authentisign
  description: Endpoints for creating and managing Authentisign e-signing sessions within transactions.
paths:
  /transactions/{transactionId}/get-authentisign-url:
    parameters:
    - $ref: '#/components/parameters/transactionId'
    get:
      summary: Create Signing Packet
      description: Generates an Authentisign 2 (AS2) SSO signing URL for the specified transaction. Builds a signing session using the authenticated member's profile, the specified transaction, and the provided document list and packet name. The returned URL can be used to redirect the user directly into the Authentisign signing experience.
      tags:
      - Authentisign
      parameters:
      - name: docList
        in: query
        required: true
        description: Comma-separated list of form or document IDs to include in the signing packet.
        schema:
          type: string
          example: form-id-1,form-id-2,doc-id-3
      - name: packetName
        in: query
        required: true
        description: The name to assign to the Authentisign e-sign packet.
        schema:
          type: string
          example: Purchase Agreement Signing
      responses:
        '200':
          description: Signing URL generated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthentisignUrl'
              example:
                url: https://cloud.authentisign.com/sso?sso=eyJhbGci...&signingId=97757ef1-2a4c-ee11-a3f1-6045bddacb97&redirectUrl=https%3a%2f%2fzipformplus.com%2fdefault.aspx
        '400':
          description: Bad request. Missing or invalid parameters.
        '401':
          description: Unauthorized.
        '404':
          description: Transaction not found.
      operationId: getTransactionsByTransactionIdGetAuthentisignUrl
      x-operation-id-source: derived
components:
  parameters:
    transactionId:
      name: transactionId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Transaction GUID
  schemas:
    AuthentisignUrl:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: The Authentisign SSO URL to redirect the user to for signing.
  securitySchemes:
    contextAuth:
      type: apiKey
      in: header
      name: X-Auth-ContextId
      description: Context Id obtained from an authentication endpoint. Must be used together with X-Auth-SharedKey.
    sharedKey:
      type: apiKey
      in: header
      name: X-Auth-SharedKey
      description: Shared Key provided by zipLogix to authenticate the partner application.
    externalIdAuth:
      type: apiKey
      in: header
      name: X-Auth-ExternalId
      description: External Id for partners authorized to use the External Id authentication scheme. Must be used together with X-Auth-SharedKey.
