openapi: 3.2.0
info:
  title: Lone Wolf Property Types API
  version: '1.0'
  description: 'Operations tagged Property Types across 2 of this provider''s published API definitions: lone-wolf-back-office-online-api-openapi.yml, lone-wolf-wolfconnect-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.lwolf.com/backoffice
- url: https://api.globalwolfweb.com
  description: Production
- url: https://api-sb.globalwolfweb.com
  description: Test
tags:
- name: Property Types
  description: Represents the different property types that can be associated to a transaction.
paths:
  /v1/property-types:
    get:
      tags:
      - Property Types
      summary: Get Property Types
      operationId: get-v1-property-types
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PropertyType'
              example:
              - id: string
                createdTimestamp: string
                modifiedTimestamp: string
                name: string
                shortName: string
                code: string
                classCode: C
                rental: true
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
    servers:
    - url: https://api.lwolf.com/backoffice
  /v1/property-types/{propertyTypeId}:
    get:
      tags:
      - Property Types
      summary: Get Property Type
      operationId: get-v1-property-types-propertytypeid
      parameters:
      - name: propertyTypeId
        in: path
        description: The id of the property type.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyType'
              example:
                id: string
                createdTimestamp: string
                modifiedTimestamp: string
                name: string
                shortName: string
                code: string
                classCode: C
                rental: true
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
    patch:
      tags:
      - Property Types
      summary: Update Property Type
      description: Update Property Type
      operationId: patch-v1-property-types-propertytypeid
      parameters:
      - name: propertyTypeId
        in: path
        description: The id of the property type.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: The properties on the property type to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyTypePatchRequest'
            example:
              name: string
              shortName: string
              rental: true
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyType'
              example:
                id: string
                createdTimestamp: string
                modifiedTimestamp: string
                name: string
                shortName: string
                code: string
                classCode: C
                rental: true
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
        '422':
          description: Validation failed. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                - string
    servers:
    - url: https://api.lwolf.com/backoffice
  /wolfconnect/property-types/v1/:
    get:
      tags:
      - Property Types
      summary: Retrieve the list of all Property Types
      operationId: getPropertyTypes
      description: All of the property types that are configured for the Client Code used during the authentication process will be returned. The property types returned where LWCompanyCode is blank are for offices that are not synced with brokerWOLF.
      responses:
        '200':
          description: A collection of PropertyType objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PropertyType_2'
      security:
      - LoneWolfToken: []
    servers:
    - url: https://api.globalwolfweb.com
      description: Production
    - url: https://api-sb.globalwolfweb.com
      description: Test
components:
  schemas:
    PropertyTypePatchRequest:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: The name of the property type.
          writeOnly: true
        shortName:
          type:
          - string
          - 'null'
          description: The short name of the property type.
          writeOnly: true
        rental:
          type: boolean
          description: Indicates whether the property type is for rental property transactions.
          writeOnly: true
      additionalProperties: false
      description: Used to patch properties of a property type.
    ApiError:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for the error.
          readOnly: true
        code:
          type: integer
          description: A code used to help identify the type of error. This is typically set to the same value as the http status code.
          format: int32
          readOnly: true
        message:
          type: string
          description: A summary or short message describing the error.
          readOnly: true
        details:
          type:
          - array
          - 'null'
          items:
            type: string
          description: A list of more detailed errors messages.
          readOnly: true
      additionalProperties: false
    PropertyType:
      required:
      - name
      - code
      - classCode
      type: object
      properties:
        id:
          type: string
          description: The unique id.
          format: uuid
        createdTimestamp:
          type:
          - string
          - 'null'
          description: The date and time of creation in UTC time.
          format: date-time
        modifiedTimestamp:
          type:
          - string
          - 'null'
          description: The date and time last modification in UTC time.
          format: date-time
        name:
          type: string
          description: The name of the property type.
        shortName:
          type:
          - string
          - 'null'
          description: The short name of the property type.
        code:
          type: string
          description: The unique code for the property type.
        classCode:
          enum:
          - C
          - R
          type: string
          description: The code representing the class of the property type. This will be either "C" for commercial or "R" for residential.
        rental:
          type: boolean
          description: Indicates whether the property type is for rental property transactions.
      additionalProperties: false
      description: Represents the type of property for a transaction.
    PropertyType_2:
      type: object
      properties:
        Id:
          type: string
          readOnly: true
          description: The Lone Wolf Id of the property type.
        LWCompanyCode:
          type: string
          readOnly: true
          description: The Lone Wolf Company Code. This is the code used by a brokerWOLF installation. It will be blank for offices that are not synced with brokerWOLF.
        Code:
          type: string
          readOnly: true
          description: A code for this property type. This must be unique within an LWCompanyCode.
        Name:
          type: string
          readOnly: true
          description: The name of the property type (Duplex, Townhouse, Commercial, etc).
        Default:
          type: boolean
          readOnly: true
          description: True if this should be the default property type for new transactions and tiers.
        ClassCode:
          type: string
          readOnly: true
          description: 'The code for the class. R: Residential, C: Commercial'
        Class:
          type: string
          readOnly: true
          description: The name of the class (Commercial, Residential).
        InactiveDate:
          type:
          - string
          - 'null'
          format: date
          readOnly: true
          description: The date the property type became inactive. (Nullable)
  securitySchemes:
    LoneWolfToken:
      type: apiKey
      in: header
      name: Authorization
      description: 'Custom HMAC-signed authorization scheme used when calling resources that access your actual data:


        ```

        Authorization: LoneWolfToken [API Token]:[Client Code]:[Signature]:[Date]

        ```


        A `Content-MD5` header is also required on every request (base 64 encoded MD5 hash of the request body, or of an empty string for requests without a body: `1B2M2Y8AsgTpgAmY7PhCfg==`).


        The signature is the HMACSHA256 hash (seeded with your secret key) of `[HTTP Method]:[Resource URI]:[Date]:[Content-MD5]`. HMACSHA384 and HMACSHA512 are also supported by appending the algorithm to the scheme (e.g. `LoneWolfToken-HMACSHA512`).


        See the Authentication, Creating a Request, and Creating the Signature sections of the introduction for full details, date format, and worked examples. A separate `LoneWolfKey` scheme exists for resources that deal with your API account; there is never a scenario where you would send more than one type of authorization scheme.'
x-refined-from:
- lone-wolf-back-office-online-api-openapi.yml
- lone-wolf-wolfconnect-api-openapi.yml
x-topics:
- title: Overview
  content:
    $ref: ./docs/authentisign-overview.md
- title: Getting started
  content:
    $ref: ./docs/getting-started.md
- title: Authentication Token
  content:
    $ref: ./docs/authentication.md
- title: HTTP Request
  content:
    $ref: ./docs/http-request.md
