openapi: 3.2.0
info:
  title: Deals External Commission API
  version: 1.0.0
  description: '## Index


    For partner integration use (25.01.00)


    ### Getting Started


    #### Getting a JWT Access Token


    `POST https://authentication.api.lwolf.com/v1/login`


    All APIs require an *Authorization* HTTP Header that contains a *Bearer {token}* as its value.'
servers:
- url: https://deals.api.lwolf.com
  description: Base URL declared by the provider in apis.yml (roadmap#122).
security:
- BearerToken: []
tags:
- name: External Commission
paths:
  /external-commissions/{externalCommissionId}:
    get:
      summary: Get an external commission
      description: Using the external commission guid in the request path, the method requests an external commission.
      tags:
      - External Commission
      security:
      - BearerToken: []
      parameters:
      - name: externalCommissionId
        in: in path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Retrieved external commission successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalCommission'
        '400':
          description: Invalid request. See response body for details.
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '404':
          description: External commission not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Unknown error. See response body for details.
      operationId: getExternalCommissionsByExternalCommissionId
      x-operation-id-source: derived
    patch:
      summary: Update an external commission
      description: Updates an external commission using its external commission guid.
      tags:
      - External Commission
      security:
      - BearerToken: []
      parameters:
      - name: externalCommissionId
        in: in path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successfully updated an external commission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalCommission'
        '400':
          description: Invalid request. See response body for details.
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '404':
          description: External commission not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '412':
          description: Optimistic concurrency check failed. The If-Match header is missing or it does not contain the version currently in the database.
        '500':
          description: Unknown error. See response body for details.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalCommission'
            example:
              id: string (UUID)
              externalAgentId: string (UUID)
              endCode: string
              payBroker: boolean
              amount: number (float)
              percentage: number (float)
              calculationMethod: string
      operationId: patchExternalCommissionsByExternalCommissionId
      x-operation-id-source: derived
    delete:
      summary: Delete an external commission
      description: Deletes an external commission using its external commission guid.
      tags:
      - External Commission
      security:
      - BearerToken: []
      parameters:
      - name: externalCommissionId
        in: in path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successfully deleted an external commission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalCommission'
        '400':
          description: Invalid request. See response body for details.
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '404':
          description: External commission not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Unknown error. See response body for details.
      operationId: deleteExternalCommissionsByExternalCommissionId
      x-operation-id-source: derived
  /tiers/{tierId}/external-commissions:
    get:
      summary: Get all external commissions
      description: Using the tier guid in the request path, the method requests the associated external commissions.
      tags:
      - External Commission
      security:
      - BearerToken: []
      parameters:
      - name: tierId
        in: in path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Retrieved external commissions successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExternalCommission'
        '400':
          description: Invalid request. See response body for details.
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '404':
          description: Tier not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '412':
          description: Optimistic concurrency check failed. The If-Match header is missing or it does not contain the version currently in the database.
        '500':
          description: Unknown error. See response body for details.
      operationId: getTiersByTierIdExternalCommissions
      x-operation-id-source: derived
    post:
      summary: Create an external commission
      description: Creates an external commission onto a tier using the tier guid.
      tags:
      - External Commission
      security:
      - BearerToken: []
      parameters:
      - name: tierId
        in: in path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '201':
          description: Successfully created an external commission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalCommission'
        '400':
          description: Invalid request. See response body for details.
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '404':
          description: Tier not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '409':
          description: External commission already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Unknown error. See response body for details.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalCommission'
            example:
              id: string (UUID)
              externalAgentId: string (UUID)
              endCode: string
              payBroker: boolean
              amount: number (float)
              percentage: number (float)
              calculationMethod: string
      operationId: postTiersByTierIdExternalCommissions
      x-operation-id-source: derived
components:
  schemas:
    ApiError:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            type: string
    ExternalCommission:
      type: object
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JSON Web Token obtained from the Authentication API (`POST /v1/login`). Pass the token as `Authorization: Bearer <token>` in every request. Tokens expire after the number of seconds specified in the `expiresIn` field of the login response.'
