openapi: 3.2.0
info:
  title: Deals Source of Business API
  version: 1.0.0
  description: '## Index


    For partner integration use (25.01.00)


    ### Getting Started


    #### Getting a JWT Access Token


    `POST https://authentication.api.lwolf.com/v1/login`


    All APIs require an *Authorization* HTTP Header that contains a *Bearer {token}* as its value.'
servers:
- url: https://deals.api.lwolf.com
  description: Base URL declared by the provider in apis.yml (roadmap#122).
security:
- BearerToken: []
tags:
- name: Source of Business
paths:
  /sources-of-business:
    get:
      summary: Get all sources of business for the brokerage
      description: Retrieves all sources of business for the brokerage.
      tags:
      - Source of Business
      security:
      - BearerToken: []
      parameters: []
      responses:
        '200':
          description: Sources of Business found.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SourceOfBusiness'
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '500':
          description: Unknown error. See response body for details.
      operationId: getSourcesOfBusiness
      x-operation-id-source: derived
components:
  schemas:
    SourceOfBusiness:
      type: object
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JSON Web Token obtained from the Authentication API (`POST /v1/login`). Pass the token as `Authorization: Bearer <token>` in every request. Tokens expire after the number of seconds specified in the `expiresIn` field of the login response.'
