openapi: 3.2.0
info:
  title: Deals Commission API
  version: 1.0.0
  description: '## Index


    For partner integration use (25.01.00)


    ### Getting Started


    #### Getting a JWT Access Token


    `POST https://authentication.api.lwolf.com/v1/login`


    All APIs require an *Authorization* HTTP Header that contains a *Bearer {token}* as its value.'
servers:
- url: https://deals.api.lwolf.com
  description: Base URL declared by the provider in apis.yml (roadmap#122).
security:
- BearerToken: []
tags:
- name: Commission
paths:
  /tiers/{tierId}/commissions:
    get:
      summary: Get all commissions
      description: Using the tier guid in the request path, the method requests the associated commissions.
      tags:
      - Commission
      security:
      - BearerToken: []
      parameters:
      - name: tierId
        in: in path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Retrieved commission successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Commission'
        '400':
          description: Invalid request. See response body for details.
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '500':
          description: Unknown error. See response body for details.
      operationId: getTiersByTierIdCommissions
      x-operation-id-source: derived
    post:
      summary: Create a commission
      description: Creates a commission on a given tier.
      tags:
      - Commission
      security:
      - BearerToken: []
      parameters:
      - name: tierId
        in: in path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '201':
          description: Successfully upserted the commission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Commission'
        '400':
          description: Invalid request. See response body for details.
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '409':
          description: Commission already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Unknown error. See response body for details.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Commission'
            example:
              id: string (UUID)
              agentId: string (UUID)
              officeName: string
              prefix: string
              firstName: string
              middleName: string
              lastName: string
              suffix: string
              endCode: string
              endCount: number (float)
              primary: boolean
              amount: number (float)
              percentage: number (float)
              calculationMethod: string
      operationId: postTiersByTierIdCommissions
      x-operation-id-source: derived
  /commissions/{commissionId}:
    get:
      summary: Get a commission
      description: Using the commission id guid in the request path, the method requests a commission.
      tags:
      - Commission
      security:
      - BearerToken: []
      parameters:
      - name: commissionId
        in: in path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Retrieved commission successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Commission'
        '400':
          description: Invalid request. See response body for details.
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '404':
          description: Commission not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Unknown error. See response body for details.
      operationId: getCommissionsByCommissionId
      x-operation-id-source: derived
    patch:
      summary: Update a commission
      description: Updates a commission using its commission guid.
      tags:
      - Commission
      security:
      - BearerToken: []
      parameters:
      - name: commissionId
        in: in path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successfully updated the commission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Commission'
        '400':
          description: Invalid request. See response body for details.
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '404':
          description: Commission not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '412':
          description: Optimistic concurrency check failed. The If-Match header is missing or it does not contain the version currently in the database.
        '500':
          description: Unknown error. See response body for details.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Commission'
            example:
              id: string (UUID)
              agentId: string (UUID)
              officeName: string
              prefix: string
              firstName: string
              middleName: string
              lastName: string
              suffix: string
              endCode: string
              endCount: number (float)
              primary: boolean
              amount: number (float)
              percentage: number (float)
              calculationMethod: string
      operationId: patchCommissionsByCommissionId
      x-operation-id-source: derived
    delete:
      summary: Delete a commission
      description: Deletes a commission using its guid.
      tags:
      - Commission
      security:
      - BearerToken: []
      parameters:
      - name: commissionId
        in: in path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successfully deleted the commission.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Commission'
        '400':
          description: Invalid request. See response body for details.
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '404':
          description: Commission not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Unknown error. See response body for details.
      operationId: deleteCommissionsByCommissionId
      x-operation-id-source: derived
components:
  schemas:
    ApiError:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            type: string
    Commission:
      type: object
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JSON Web Token obtained from the Authentication API (`POST /v1/login`). Pass the token as `Authorization: Bearer <token>` in every request. Tokens expire after the number of seconds specified in the `expiresIn` field of the login response.'
