openapi: 3.2.0
info:
  title: TransactionDesk Partner Transaction Contact Types API
  description: Lonewolf's TransactionDesk API for Partners to integrate with the TransactionDesk application.
  version: '2.0'
servers:
- url: https://api.pre.transactiondesk.com
security:
- bearerAuth: []
tags:
- name: Transaction Contact Types
  description: Manage contact type definitions
paths:
  /v2/transactions/contacts/types:
    get:
      summary: Get All Transaction Contact Types
      description: Returns all transaction contact types the authenticated user is entitled to see. A user can see Global, Association, Office, and Personal level types, but can only PATCH/DELETE their own.
      tags:
      - Transaction Contact Types
      responses:
        '200':
          description: List of contact types returned successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContactType'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
      operationId: getV2TransactionsContactsTypes
      x-operation-id-source: derived
    post:
      summary: Create a Transaction Contact Type
      description: Creates a new transaction contact type for the authenticated user.
      tags:
      - Transaction Contact Types
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  example: Home Inspector
      responses:
        '200':
          description: Contact type created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    example: 908fcaab-5e43-4122-acd8-26777e9ae4dd
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
      operationId: postV2TransactionsContactsTypes
      x-operation-id-source: derived
  /v2/transactions/contacts/types/{id}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
        format: uuid
      description: Contact Type GUID
    get:
      summary: Get a Specific Transaction Contact Type
      description: Returns a specific transaction contact type.
      tags:
      - Transaction Contact Types
      responses:
        '200':
          description: Contact type returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactType'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Contact type not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      operationId: getV2TransactionsContactsTypesById
      x-operation-id-source: derived
    patch:
      summary: Update a Transaction Contact Type
      description: Updates an existing transaction contact type. You can only update types you own.
      tags:
      - Transaction Contact Types
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Home Inspector
      responses:
        '200':
          description: Contact type updated successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Contact type not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      operationId: patchV2TransactionsContactsTypesById
      x-operation-id-source: derived
    delete:
      summary: Delete a Transaction Contact Type
      description: Deletes a specific transaction contact type. You can only delete types you own.
      tags:
      - Transaction Contact Types
      responses:
        '200':
          description: Contact type deleted successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
        '404':
          description: Contact type not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      operationId: deleteV2TransactionsContactsTypesById
      x-operation-id-source: derived
components:
  schemas:
    ErrorNotFound:
      type: object
      properties:
        code:
          type: integer
          example: 404
        message:
          type: string
          example: Item not found.
        details:
          type: array
          items: {}
    ErrorBadRequest:
      type: object
      properties:
        code:
          type: integer
          example: 400
        message:
          type: string
          example: Request was not valid.
        details:
          type: array
          items:
            type: string
    ErrorUnauthorized:
      type: object
      properties:
        code:
          type: integer
          example: 401
        message:
          type: string
          example: Unauthorized. The user is not authenticated.
        details:
          type: array
          items: {}
        data: {}
    ContactType:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 3820856a-faef-477d-8d6a-8a8e25fc9522
          description: Unique identifier for this contact type
        name:
          type: string
          example: Listing Agent
        ownerId:
          type: string
          format: uuid
          example: 5ec37bc1-9f55-4fe2-b9c4-1072f9954312
          description: Owner of this type (Global, Association, Office, or Personal level)
        dateCreated:
          type: string
          format: date-time
          example: '2020-04-14T15:54:53.207'
        lastModified:
          type: string
          format: date-time
          example: '2020-04-14T15:54:53.207'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
