openapi: 3.2.0
info:
  title: ZipForm Partner Templates API
  description: The zipForm® REST web service is made available on a licensed basis to third-party application partners.
  version: '5.1'
servers:
- url: https://ws.zipformplus.com/api
  description: Production
- url: https://api.pre.zipformplus.com/api
  description: Staging/QA
security:
- contextAuth: []
tags:
- name: Templates
  description: List and apply transaction templates.
paths:
  /transactions/{transactionId}/apply/{templateId}:
    parameters:
    - $ref: '#/components/parameters/transactionId'
    - $ref: '#/components/parameters/templateId'
    get:
      summary: Apply Template to Transaction
      description: Applies a template to a specified transaction.
      tags:
      - Templates
      responses:
        '200':
          description: Template applied successfully
        '403':
          description: Forbidden
        '500':
          description: Internal server error
      operationId: getTransactionsByTransactionIdApplyByTemplateId
      x-operation-id-source: derived
  /templates:
    get:
      summary: Get List of Templates
      description: Returns the list of templates available to the authenticated user. Optionally filter by office using the path `/templates/`.
      tags:
      - Templates
      responses:
        '200':
          description: Template list returned successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Template'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      operationId: getTemplates
      x-operation-id-source: derived
components:
  parameters:
    transactionId:
      name: transactionId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Transaction GUID
    templateId:
      name: templateId
      in: path
      required: true
      schema:
        type: string
      description: Template ID
  schemas:
    Template:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
  securitySchemes:
    contextAuth:
      type: apiKey
      in: header
      name: X-Auth-ContextId
      description: Context Id obtained from an authentication endpoint. Must be used together with X-Auth-SharedKey.
    sharedKey:
      type: apiKey
      in: header
      name: X-Auth-SharedKey
      description: Shared Key provided by zipLogix to authenticate the partner application.
    externalIdAuth:
      type: apiKey
      in: header
      name: X-Auth-ExternalId
      description: External Id for partners authorized to use the External Id authentication scheme. Must be used together with X-Auth-SharedKey.
