openapi: 3.2.0
info:
  title: Transact Authorization API
  version: 1.0.0
  description: '# Transact API


    > **For AI assistants and coding agents:** a machine-readable OpenAPI 3.0.3 definition of this API is available at the `.json` download link on this page (or directly at `https://bump.sh//doc/transact/download`).'
  contact:
    name: Lone Wolf Technologies
    url: https://www.lwolf.com
servers:
- url: https://gateway.lwolf.com
  description: Production API gateway
- url: '{tw_host}'
  description: Environment-specific host (e.g. pre-production)
  variables:
    tw_host:
      default: https://api.pre.lwolf.com
      description: Base host for the target environment.
security:
- bearerAuth: []
  subscriptionKey: []
tags:
- name: Authorization
  description: OAuth 2.0 client credentials token endpoint.
paths:
  /oauth/token:
    post:
      tags:
      - Authorization
      summary: Obtain an access token
      description: 'Exchanges OAuth client credentials for a JWT access token. The returned `access_token` must be sent as a Bearer token in the `Authorization` header on all subsequent requests, together with the `lw-subscription-key` header.


        **Note:** this endpoint is served from the gateway root (`https://gateway.lwolf.com`) rather than a service base path.'
      operationId: getToken
      responses:
        '200':
          description: Token issued successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequest'
            example:
              grant_type: client_credentials
              client_id: <your client id>
              client_secret: <your client secret>
              audience: https://api.lwolf.com
              lwt_client_id: <your Lone Wolf client GUID>
      security: []
components:
  responses:
    NotFound:
      description: The requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: The access token is missing, invalid, or expired.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: The request is malformed or contains invalid parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: The caller is not permitted to perform this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code or short error name.
        message:
          type: string
          description: Human-readable error description.
      additionalProperties: true
    TokenRequest:
      type: object
      required:
      - grant_type
      - client_id
      - client_secret
      - audience
      - lwt_client_id
      properties:
        grant_type:
          type: string
          enum:
          - client_credentials
          description: OAuth 2.0 grant type. Always `client_credentials`.
        client_id:
          type: string
          description: OAuth client identifier issued by Lone Wolf.
        client_secret:
          type: string
          description: OAuth client secret issued by Lone Wolf.
        audience:
          type: string
          example: https://api.lwolf.com
          description: Token audience. Always `https://api.lwolf.com`.
        lwt_client_id:
          type: string
          format: uuid
          description: Lone Wolf client (tenant) GUID.
    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
          description: JWT access token to be sent as a Bearer token.
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
          description: Token lifetime in seconds.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT access token obtained from the `/oauth/token` endpoint, sent as `Authorization: Bearer <token>`.'
    subscriptionKey:
      type: apiKey
      in: header
      name: lw-subscription-key
      description: API subscription key issued by Lone Wolf, sent on every request.
