openapi: 3.2.0
info:
  title: Transact Share Groups API
  version: 1.0.0
  description: '# Transact API


    > **For AI assistants and coding agents:** a machine-readable OpenAPI 3.0.3 definition of this API is available at the `.json` download link on this page (or directly at `https://bump.sh//doc/transact/download`).'
  contact:
    name: Lone Wolf Technologies
    url: https://www.lwolf.com
servers:
- url: https://gateway.lwolf.com
  description: Production API gateway
- url: '{tw_host}'
  description: Environment-specific host (e.g. pre-production)
  variables:
    tw_host:
      default: https://api.pre.lwolf.com
      description: Base host for the target environment.
security:
- bearerAuth: []
  subscriptionKey: []
tags:
- name: Share Groups
  description: Share transactions with groups of users and manage group membership.
paths:
  /transact-workflow/v1/users/{userId}/ShareGroup:
    get:
      tags:
      - Share Groups
      summary: List share groups
      description: 'Returns the share groups visible to the specified user. Supports OData `$expand` (e.g. `$expand=opportunities`) and `$filter`, including lambda expressions such as `$filter=opportunities/any(o: o/opportunityId eq )`.'
      operationId: getShareGroups
      responses:
        '200':
          description: Successful response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
      - name: userId
        in: path
        required: true
        description: Unique identifier (GUID) of the acting user. All Transact Workflow resources are scoped to a user.
        schema:
          type: string
          format: uuid
      - name: $expand
        in: query
        required: false
        description: Comma-separated list of related entities to include inline in the response.
        schema:
          type: string
        example: members, opportunities
      - name: $filter
        in: query
        required: false
        description: OData filter expression used to restrict the result set.
        schema:
          type: string
        example: opportunityId eq 5a283c97-44a9-45a9-2f3a-08de10e96589
    post:
      tags:
      - Share Groups
      summary: Create a share group
      description: Creates a new, empty share group. Use the update endpoint to add members and share opportunities.
      operationId: createShareGroup
      responses:
        '201':
          description: Share group created.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
      - name: userId
        in: path
        required: true
        description: Unique identifier (GUID) of the acting user. All Transact Workflow resources are scoped to a user.
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareGroupCreate'
  /transact-workflow/v1/users/{userId}/ShareGroup/{shareGroupId}:
    get:
      tags:
      - Share Groups
      summary: Get a share group
      description: Returns a single share group by its key. Use `$expand=members` and/or `$expand=opportunities` to embed group members and shared opportunities in the response.
      operationId: getShareGroupByKey
      responses:
        '200':
          description: Successful response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
      - name: userId
        in: path
        required: true
        description: Unique identifier (GUID) of the acting user. All Transact Workflow resources are scoped to a user.
        schema:
          type: string
          format: uuid
      - name: shareGroupId
        in: path
        required: true
        description: GUID of the share group.
        schema:
          type: string
          format: uuid
      - name: $expand
        in: query
        required: false
        description: Comma-separated list of related entities to include inline in the response.
        schema:
          type: string
        example: members, opportunities
    put:
      tags:
      - Share Groups
      summary: Update a share group (add members and share)
      description: Replaces the share group definition, including its member list and the opportunities shared with the group.
      operationId: updateShareGroup
      responses:
        '200':
          description: Successful response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
      - name: userId
        in: path
        required: true
        description: Unique identifier (GUID) of the acting user. All Transact Workflow resources are scoped to a user.
        schema:
          type: string
          format: uuid
      - name: shareGroupId
        in: path
        required: true
        description: GUID of the share group.
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareGroupUpdate'
components:
  schemas:
    ShareGroupMember:
      type: object
      required:
      - userId
      properties:
        userId:
          type: string
          format: uuid
          description: GUID of the member user.
        permissionLevel:
          type: integer
          description: 'Permission level code for the member. Observed value: `1`. **TODO: document the full list of code values and their meanings.**'
          example: 1
        isActive:
          type: boolean
          description: Whether the membership is active.
          example: true
    ShareGroupOpportunity:
      type: object
      required:
      - opportunityId
      properties:
        opportunityId:
          type: string
          format: uuid
          description: GUID of the shared opportunity (transaction).
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code or short error name.
        message:
          type: string
          description: Human-readable error description.
      additionalProperties: true
    ShareGroupUpdate:
      type: object
      properties:
        shareGroupId:
          type: string
          format: uuid
          description: GUID of the share group.
        name:
          type: string
          description: Display name of the share group.
        opportunities:
          type: array
          items:
            $ref: '#/components/schemas/ShareGroupOpportunity'
          description: Opportunities (transactions) shared with the group.
        members:
          type: array
          items:
            $ref: '#/components/schemas/ShareGroupMember'
          description: Members of the share group and their permissions.
      description: Full share group representation used to add members and share opportunities.
    ShareGroupCreate:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Display name of the share group.
          example: West Team Share Group
  responses:
    NotFound:
      description: The requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: The access token is missing, invalid, or expired.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: The request is malformed or contains invalid parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: The caller is not permitted to perform this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT access token obtained from the `/oauth/token` endpoint, sent as `Authorization: Bearer <token>`.'
    subscriptionKey:
      type: apiKey
      in: header
      name: lw-subscription-key
      description: API subscription key issued by Lone Wolf, sent on every request.
