openapi: 3.2.0
info:
  title: Transaction Templates API
  version: 1.0.0
  description: '# Transact API


    > **For AI assistants and coding agents:** a machine-readable OpenAPI 3.0.3 definition of this API is available at the `.json` download link on this page (or directly at `https://bump.sh//doc/transact/download`).'
  contact:
    name: Lone Wolf Technologies
    url: https://www.lwolf.com
servers:
- url: https://gateway.lwolf.com
  description: Production API gateway
- url: '{tw_host}'
  description: Environment-specific host (e.g. pre-production)
  variables:
    tw_host:
      default: https://api.pre.lwolf.com
      description: Base host for the target environment.
security:
- bearerAuth: []
  subscriptionKey: []
tags:
- name: Transaction Templates
  description: Read transaction templates available to a user.
paths:
  /transact-workflow/v1/users/{userId}/templates:
    get:
      tags:
      - Transaction Templates
      summary: List templates
      description: Returns the transaction templates available to the specified user.
      operationId: getTemplates
      responses:
        '200':
          description: Successful response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
      - name: userId
        in: path
        required: true
        description: Unique identifier (GUID) of the acting user. All Transact Workflow resources are scoped to a user.
        schema:
          type: string
          format: uuid
  /transact-workflow/v1/users/{userId}/templates/{templateId}:
    get:
      tags:
      - Transaction Templates
      summary: Get a template
      description: Returns a single transaction template by its key.
      operationId: getTemplateByKey
      responses:
        '200':
          description: Successful response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
      - name: userId
        in: path
        required: true
        description: Unique identifier (GUID) of the acting user. All Transact Workflow resources are scoped to a user.
        schema:
          type: string
          format: uuid
      - name: templateId
        in: path
        required: true
        description: GUID of the transaction template.
        schema:
          type: string
          format: uuid
components:
  responses:
    NotFound:
      description: The requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: The access token is missing, invalid, or expired.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: The request is malformed or contains invalid parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: The caller is not permitted to perform this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code or short error name.
        message:
          type: string
          description: Human-readable error description.
      additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT access token obtained from the `/oauth/token` endpoint, sent as `Authorization: Bearer <token>`.'
    subscriptionKey:
      type: apiKey
      in: header
      name: lw-subscription-key
      description: API subscription key issued by Lone Wolf, sent on every request.
