openapi: 3.2.0
info:
  title: Authentisign C Cs API
  description: Authentisign API
  version: '1.0'
servers:
- url: https://api.lwolf.com/authentisign
tags:
- name: CCs
paths:
  /api/v1/signings/{signingId}/ccs:
    get:
      tags:
      - CCs
      summary: Retrieve CCs for a signing. This endpoint fetches all the CCs associated with the provided signing ID.
      description: "Sample request:\n            \n    GET /api/v1/signings/{signingId}/CCs"
      operationId: GetCcs
      parameters:
      - name: signingId
        in: path
        description: The identifier of the signing for which CCs are to be fetched.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
        default:
          description: Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Authentisign.Services.Dtos.ErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Authentisign.Services.Dtos.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Authentisign.Services.Dtos.ErrorResponse'
  /api/v1/ccs/batch:
    post:
      tags:
      - CCs
      summary: Add CCs in batch. This endpoint allows you to add multiple CCs at once for efficient processing.
      description: "Sample request:\n            \n    POST /api/v1/signings/{signingId}/CCs/batch\n    [\n        {\n            \"id\": \"3fa85f64-5717-4562-b3fc-2c963f66afa6\",\n            \"signingId\": \"12345678-1234-1234-1234-123456789012\",\n            \"firstName\": \"John\",\n            \"middleName\": \"D\",\n            \"lastName\": \"Doe\",\n            \"email\": \"john.doe@example.com\",\n            \"displayOrder\": 1,\n            \"externalId\": \"EXT1234\",\n            \"transactionId\": \"9b74f03d-71d4-4911-a0d4-60c720bacea1\",\n            \"saveToContacts\": true\n        },\n        ... [more CCs]\n    ]"
      operationId: AddCCs
      parameters:
      - name: externalId
        in: header
        description: The external ID from header.
        schema:
          type: string
          format: uuid
      requestBody:
        description: A list of CC data transfer objects to be added.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Authentisign.Services.Dtos.CcDto'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Authentisign.Services.Dtos.CcDto'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Authentisign.Services.Dtos.CcDto'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        default:
          description: Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
components:
  schemas:
    Microsoft.AspNetCore.Mvc.ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Authentisign.Services.Dtos.ErrorResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        details:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    Authentisign.Services.Dtos.CcDto:
      required:
      - firstName
      - lastName
      type: object
      properties:
        id:
          type: string
          format: uuid
        signingId:
          type: string
          format: uuid
        firstName:
          minLength: 1
          type: string
        middleName:
          type:
          - string
          - 'null'
        lastName:
          minLength: 1
          type: string
        email:
          type:
          - string
          - 'null'
        displayOrder:
          type: integer
          format: int32
        externalId:
          type:
          - string
          - 'null'
        transactionId:
          type:
          - string
          - 'null'
          format: uuid
        saveToContacts:
          type:
          - boolean
          - 'null'
      additionalProperties: false
x-topics:
- title: Overview
  content:
    $ref: ./docs/authentisign-overview.md
- title: Getting started
  content:
    $ref: ./docs/getting-started.md
- title: Authentication Token
  content:
    $ref: ./docs/authentication.md
- title: HTTP Request
  content:
    $ref: ./docs/http-request.md
