openapi: 3.2.0
info:
  title: TransactionDesk Partner Single Sign On API
  description: "Lonewolf's TransactionDesk API for Partners to integrate with the TransactionDesk application.\n\n## Authorization\n\n### Authorization Code Flow\n\n1. Redirect the user to the OAuth authorization URL:\n   `https://api.pre.transactiondesk.com/oauth/authorize?client_id=Lonewolf&redirect_uri=https://www.example.com&response_type=code&state=active`\n2. The user logs in via the Lonewolf Authentication system.\n3. On success, the user is redirected back to your `redirect_uri` with a `code` parameter appended.\n4. Exchange the code for an access token via `POST /oauth/token` (see Authentication section). The code is one-time-use and expires in 10 minutes.\n5. Include the access token in the `Authorization: Bearer <token>` header on every request.\n\n### Client Credentials Flow\n\nFor enterprise integrations, use `grant_type=client_credentials`. No user redirect is required. Include an `On-Behalf-Of` header with the target user's GUID on API requests.\n\n## Universal Global Fields\n\nBelow is a list of the fields related to a transaction that can be updated through the API for the Transaction Desk System.\n\n### 1. Property Information\n\n#### Address\n- `streetNumber`\n- `streetName`\n- `city`\n- `county`\n- `state`\n- `zipCode`\n\n#### Subdivision and Parcel Information\n- `subDivision`\n- `lotNumber`\n- `block`\n- `pageNumber`\n- `platBook`\n\n#### Property Characteristics\n- `yearBuilt`\n- `zoningClass`\n- `schoolDistrict`\n\n#### Tax and Legal Information\n- `taxNumber`\n- `township`\n- `legalDescription`\n\n### 2. Listing Information\n\n#### Listing Identification\n- `mlsNumber`\n\n#### Pricing\n- `listPrice`\n\n#### Listing Timeline\n- `expirationDate`\n\n#### Property Inclusions and Exclusions\n- `propertyIncludes`\n- `propertyExcludes`\n- `leasedItems`\n\n### 3. Purchase Information\n\n#### Pricing\n- `purchasePrice`\n\n#### Offer Timeline\n- `offerDate`\n- `offerExpirationDate`\n- `offerAcceptanceDate`\n\n#### Financing Timeline\n- `applicationDate`\n- `approvalDate`\n\n#### Deposits\n- `depositAmount`\n- `additionalDepositAmount`\n- `additionalDepositDate`\n\n#### Transaction Milestones\n- `fundingDate`\n- `possessionDate`\n- `closingDate`"
  version: '2.0'
servers:
- url: https://api.pre.transactiondesk.com
security:
- bearerAuth: []
tags:
- name: Single Sign On
  description: Generate one-time-use SSO links for the agent dashboard, transaction list, or a specific transaction
paths:
  /v2/view-url:
    get:
      summary: Get Agent Dashboard SSO Link
      description: Returns a one-time-use SSO link that lands the user directly on their Agent Dashboard page.
      tags:
      - Single Sign On
      responses:
        '200':
          description: SSO link returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSOLink'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
  /v2/transactions/view-url:
    get:
      summary: Get Transaction List SSO Link
      description: Returns a one-time-use SSO link that lands the user directly on their Transaction List page.
      tags:
      - Single Sign On
      responses:
        '200':
          description: SSO link returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSOLink'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
  /v2/transactions/{id}/view-url:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
        format: uuid
      description: TransactionGUID
    get:
      summary: Get Specific Transaction SSO Link
      description: Returns a one-time-use SSO link that lands the user directly into a specific transaction.
      tags:
      - Single Sign On
      responses:
        '200':
          description: SSO link returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSOLink'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorUnauthorized'
components:
  schemas:
    SSOLink:
      type: object
      properties:
        link:
          type: string
          example: https://td2.transactiondesk.com/external/entry.ashx?i=28403062-47a4-4a7a-ae3d-b3f64decd32e
          description: One-time-use single sign on link
    ErrorUnauthorized:
      type: object
      properties:
        code:
          type: integer
          example: 401
        message:
          type: string
          example: Unauthorized. The user is not authenticated.
        details:
          type: array
          items: {}
        data: {}
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
