openapi: 3.2.0
info:
  title: ZipForm Partner Title Integration API
  description: The zipForm® REST web service is made available on a licensed basis to third-party application partners.
  version: '5.1'
servers:
- url: https://ws.zipformplus.com/api
  description: Production
- url: https://api.pre.zipformplus.com/api
  description: Staging/QA
security:
- contextAuth: []
tags:
- name: Title Integration
  description: Allow title partners to update title order status and manage notes on transactions.
paths:
  /transactions/{transactionId}/title-order-status/{status}:
    parameters:
    - $ref: '#/components/parameters/transactionId'
    - name: status
      in: path
      required: true
      schema:
        type: string
        enum:
        - Pending
        - Delivered
        - Open
        - Closed
        - Cancelled
        - ClearCleared
      description: New title order status
    post:
      summary: Update Title Order Status
      description: Allows a title partner to update the status of a title order associated with a transaction.
      tags:
      - Title Integration
      responses:
        '200':
          description: Title order status updated successfully
        '401':
          description: Unauthorized
        '404':
          description: Transaction not found
      operationId: postTransactionsByTransactionIdTitleOrderStatusByStatus
      x-operation-id-source: derived
  /transactions/{transactionId}/title-order-note:
    parameters:
    - $ref: '#/components/parameters/transactionId'
    post:
      summary: Add Note to Title Order
      description: Allows a title partner to add a note to the title order associated with a transaction.
      tags:
      - Title Integration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - message
              properties:
                message:
                  type: string
                  example: Submitted order
      responses:
        '200':
          description: Note added successfully
        '401':
          description: Unauthorized
        '404':
          description: Transaction not found
      operationId: postTransactionsByTransactionIdTitleOrderNote
      x-operation-id-source: derived
    get:
      summary: Retrieve All Title Order Notes
      description: Retrieves all title notes associated with a transaction.
      tags:
      - Title Integration
      responses:
        '200':
          description: Title order notes returned successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TitleNote'
        '401':
          description: Unauthorized
        '404':
          description: Transaction not found
      operationId: getTransactionsByTransactionIdTitleOrderNote
      x-operation-id-source: derived
components:
  parameters:
    transactionId:
      name: transactionId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Transaction GUID
  schemas:
    TitleNote:
      type: object
      properties:
        CreatedDate:
          type: string
          format: date-time
        ReadDate:
          type: string
          format: date-time
        Message:
          type: string
        Publisher:
          type: string
  securitySchemes:
    contextAuth:
      type: apiKey
      in: header
      name: X-Auth-ContextId
      description: Context Id obtained from an authentication endpoint. Must be used together with X-Auth-SharedKey.
    sharedKey:
      type: apiKey
      in: header
      name: X-Auth-SharedKey
      description: Shared Key provided by zipLogix to authenticate the partner application.
    externalIdAuth:
      type: apiKey
      in: header
      name: X-Auth-ExternalId
      description: External Id for partners authorized to use the External Id authentication scheme. Must be used together with X-Auth-SharedKey.
