openapi: 3.2.0
info:
  title: Deals Condition API
  version: 1.0.0
  description: '## Index


    For partner integration use (25.01.00)


    ### Getting Started


    #### Getting a JWT Access Token


    `POST https://authentication.api.lwolf.com/v1/login`


    All APIs require an *Authorization* HTTP Header that contains a *Bearer {token}* as its value.'
servers:
- url: https://deals.api.lwolf.com
  description: Base URL declared by the provider in apis.yml (roadmap#122).
security:
- BearerToken: []
tags:
- name: Condition
paths:
  /conditions/{conditionId}:
    get:
      summary: Get a condition
      description: Using the condition guid in the request path, the method requests a condition.
      tags:
      - Condition
      security:
      - BearerToken: []
      parameters:
      - name: conditionId
        in: in path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Retrieved condition successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Condition'
        '400':
          description: Invalid request. See response body for details.
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '404':
          description: Condition not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Unknown error. See response body for details.
      operationId: getConditionsByConditionId
      x-operation-id-source: derived
    patch:
      summary: Update a condition
      description: Updates a condition based on its condition guid.
      tags:
      - Condition
      security:
      - BearerToken: []
      parameters:
      - name: conditionId
        in: in path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successfully patched a condition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Condition'
        '400':
          description: Invalid request. See response body for details.
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '404':
          description: Condition not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '412':
          description: Optimistic concurrency check failed. The If-Match header is missing or it does not contain the version currently in the database.
        '500':
          description: Unknown error. See response body for details.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Commission'
      operationId: patchConditionsByConditionId
      x-operation-id-source: derived
    delete:
      summary: Delete a condition
      description: Deletes a condition based on its condition guid.
      tags:
      - Condition
      security:
      - BearerToken: []
      parameters:
      - name: conditionId
        in: in path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successfully deleted a condition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Condition'
        '400':
          description: Invalid request. See response body for details.
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '404':
          description: Condition not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Unknown error. See response body for details.
      operationId: deleteConditionsByConditionId
      x-operation-id-source: derived
  /deals/{dealId}/conditions:
    get:
      summary: Get all conditions
      description: Using the deal guid in the request path, the method requests the associated conditions.
      tags:
      - Condition
      security:
      - BearerToken: []
      parameters:
      - name: dealId
        in: in path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Retrieved conditions successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Condition'
        '400':
          description: Invalid request. See response body for details.
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '500':
          description: Unknown error. See response body for details.
      operationId: getDealsByDealIdConditions
      x-operation-id-source: derived
    post:
      summary: Create a condition
      description: Creates a condition on a deal using a deal GUID.
      tags:
      - Condition
      security:
      - BearerToken: []
      parameters:
      - name: dealId
        in: in path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '201':
          description: Successfully created a condition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Condition'
        '400':
          description: Invalid request. See response body for details.
        '401':
          description: Unauthorized request. See response body for details.
        '403':
          description: Permission denied. See response body for details.
        '409':
          description: Condition already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          description: Unknown error. See response body for details.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Condition'
            example:
              id: string (UUID)
              description: string
              completeDate: string (date)
              dueDate: string (date)
      operationId: postDealsByDealIdConditions
      x-operation-id-source: derived
components:
  schemas:
    ApiError:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            type: string
    Commission:
      type: object
    Condition:
      type: object
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JSON Web Token obtained from the Authentication API (`POST /v1/login`). Pass the token as `Authorization: Bearer <token>` in every request. Tokens expire after the number of seconds specified in the `expiresIn` field of the login response.'
