openapi: 3.0.1
info:
  title: Back Office API
  version: '1.0'
servers:
  - url: 'https://api.lwolf.com/backoffice'
paths:
  '/v1/transactions/{transactionId}/business-contacts':
    get:
      tags:
        - Business Contacts
      summary: Get Business Contacts
      description: Returns all the business contacts for the specified transaction.
      operationId: get-v1-transactions-transactionid-business-contacts
      parameters:
        - name: transactionId
          in: path
          description: The id of the transaction.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BusinessContact'
              example:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  contactTypeId: string
                  endCode: B
                  prefix: string
                  firstName: string
                  lastName: string
                  companyName: string
                  addressLine1: string
                  addressLine2: string
                  addressCity: string
                  addressPostalCode: string
                  addressProvinceCode: string
                  addressCountryCode: string
                  phoneNumberMain: string
                  phoneNumberBusiness: string
                  phoneNumberMobile: string
                  faxNumberMain: string
                  emailAddressMain: string
                  emailAddressWork: string
                  contactType:
                    name: string
                    code: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
    post:
      tags:
        - Business Contacts
      summary: Create Business Contact
      description: Creates a new business contact for the transaction.
      operationId: post-v1-transactions-transactionid-business-contacts
      parameters:
        - name: transactionId
          in: path
          description: The id of the transaction.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The business contact to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessContact'
            example:
              id: string
              createdTimestamp: string
              modifiedTimestamp: string
              contactTypeId: string
              endCode: B
              prefix: string
              firstName: string
              lastName: string
              companyName: string
              addressLine1: string
              addressLine2: string
              addressCity: string
              addressPostalCode: string
              addressProvinceCode: string
              addressCountryCode: string
              phoneNumberMain: string
              phoneNumberBusiness: string
              phoneNumberMobile: string
              faxNumberMain: string
              emailAddressMain: string
              emailAddressWork: string
              contactType:
                name: string
                code: string
      responses:
        '200':
          description: OK
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessContact'
              example:
                id: string
                createdTimestamp: string
                modifiedTimestamp: string
                contactTypeId: string
                endCode: B
                prefix: string
                firstName: string
                lastName: string
                companyName: string
                addressLine1: string
                addressLine2: string
                addressCity: string
                addressPostalCode: string
                addressProvinceCode: string
                addressCountryCode: string
                phoneNumberMain: string
                phoneNumberBusiness: string
                phoneNumberMobile: string
                faxNumberMain: string
                emailAddressMain: string
                emailAddressWork: string
                contactType:
                  name: string
                  code: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '409':
          description: Conflict. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '422':
          description: Validation failed. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
  '/v1/business-contacts/{businessContactId}':
    get:
      tags:
        - Business Contacts
      summary: Get Business Contact
      description: Retrieves a single business contact.
      operationId: get-v1-business-contacts-businesscontactid
      parameters:
        - name: businessContactId
          in: path
          description: The id of the business contact.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessContact'
              example:
                id: string
                createdTimestamp: string
                modifiedTimestamp: string
                contactTypeId: string
                endCode: B
                prefix: string
                firstName: string
                lastName: string
                companyName: string
                addressLine1: string
                addressLine2: string
                addressCity: string
                addressPostalCode: string
                addressProvinceCode: string
                addressCountryCode: string
                phoneNumberMain: string
                phoneNumberBusiness: string
                phoneNumberMobile: string
                faxNumberMain: string
                emailAddressMain: string
                emailAddressWork: string
                contactType:
                  name: string
                  code: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
    patch:
      tags:
        - Business Contacts
      summary: Update Business Contact
      description: Make changes to existing business contacts.
      operationId: patch-v1-business-contacts-businesscontactid
      parameters:
        - name: businessContactId
          in: path
          description: The id of the business contact.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The properties of the business contact to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessContactPatchRequest'
            example:
              contactTypeId: string
              endCode: B
              prefix: string
              firstName: string
              lastName: string
              companyName: string
              addressLine1: string
              addressLine2: string
              addressCity: string
              addressPostalCode: string
              addressProvinceCode: string
              addressCountryCode: string
              phoneNumberMain: string
              phoneNumberBusiness: string
              phoneNumberMobile: string
              faxNumberMain: string
              emailAddressMain: string
              emailAddressWork: string
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessContact'
              example:
                id: string
                createdTimestamp: string
                modifiedTimestamp: string
                contactTypeId: string
                endCode: B
                prefix: string
                firstName: string
                lastName: string
                companyName: string
                addressLine1: string
                addressLine2: string
                addressCity: string
                addressPostalCode: string
                addressProvinceCode: string
                addressCountryCode: string
                phoneNumberMain: string
                phoneNumberBusiness: string
                phoneNumberMobile: string
                faxNumberMain: string
                emailAddressMain: string
                emailAddressWork: string
                contactType:
                  name: string
                  code: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '422':
          description: Validation failed. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
    delete:
      tags:
        - Business Contacts
      summary: Delete Business Contact
      description: Delete an existing business contact.
      operationId: delete-v1-business-contacts-businesscontactid
      parameters:
        - name: businessContactId
          in: path
          description: The id of the business contact.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessContact'
              example:
                id: string
                createdTimestamp: string
                modifiedTimestamp: string
                contactTypeId: string
                endCode: B
                prefix: string
                firstName: string
                lastName: string
                companyName: string
                addressLine1: string
                addressLine2: string
                addressCity: string
                addressPostalCode: string
                addressProvinceCode: string
                addressCountryCode: string
                phoneNumberMain: string
                phoneNumberBusiness: string
                phoneNumberMobile: string
                faxNumberMain: string
                emailAddressMain: string
                emailAddressWork: string
                contactType:
                  name: string
                  code: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
  /v1/classifications:
    get:
      tags:
        - Classifications
      summary: Get Classifications
      operationId: get-v1-classifications
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Classification'
              example:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  name: string
                  code: string
                  endCount: 0
                  endTypeCode: B
                  inactiveDate: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
  '/v1/classifications/{classificationId}':
    get:
      tags:
        - Classifications
      summary: Get Classification
      operationId: get-v1-classifications-classificationid
      parameters:
        - name: classificationId
          in: path
          description: The id of the classification.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Classification'
              example:
                id: string
                createdTimestamp: string
                modifiedTimestamp: string
                name: string
                code: string
                endCount: 0
                endTypeCode: B
                inactiveDate: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
  '/v1/transactions/{transactionId}/client-contacts':
    get:
      tags:
        - Client Contacts
      summary: Get Client Contacts
      operationId: get-v1-transactions-transactionid-client-contacts
      parameters:
        - name: transactionId
          in: path
          description: The id of the transaction.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClientContact'
              example:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  contactTypeId: string
                  endCode: B
                  prefix: string
                  firstName: string
                  lastName: string
                  companyName: string
                  addressLine1: string
                  addressLine2: string
                  addressCity: string
                  addressPostalCode: string
                  addressProvinceCode: string
                  addressCountryCode: string
                  phoneNumberMain: string
                  phoneNumberBusiness: string
                  phoneNumberMobile: string
                  faxNumberMain: string
                  emailAddressMain: string
                  emailAddressWork: string
                  contactType:
                    name: string
                    code: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
    post:
      tags:
        - Client Contacts
      summary: Create Client Contact
      operationId: post-v1-transactions-transactionid-client-contacts
      parameters:
        - name: transactionId
          in: path
          description: The id of the transaction.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The client contact to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientContact'
            example:
              id: string
              createdTimestamp: string
              modifiedTimestamp: string
              contactTypeId: string
              endCode: B
              prefix: string
              firstName: string
              lastName: string
              companyName: string
              addressLine1: string
              addressLine2: string
              addressCity: string
              addressPostalCode: string
              addressProvinceCode: string
              addressCountryCode: string
              phoneNumberMain: string
              phoneNumberBusiness: string
              phoneNumberMobile: string
              faxNumberMain: string
              emailAddressMain: string
              emailAddressWork: string
              contactType:
                name: string
                code: string
      responses:
        '200':
          description: OK
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientContact'
              example:
                id: string
                createdTimestamp: string
                modifiedTimestamp: string
                contactTypeId: string
                endCode: B
                prefix: string
                firstName: string
                lastName: string
                companyName: string
                addressLine1: string
                addressLine2: string
                addressCity: string
                addressPostalCode: string
                addressProvinceCode: string
                addressCountryCode: string
                phoneNumberMain: string
                phoneNumberBusiness: string
                phoneNumberMobile: string
                faxNumberMain: string
                emailAddressMain: string
                emailAddressWork: string
                contactType:
                  name: string
                  code: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '409':
          description: Conflict. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '422':
          description: Validation failed. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
  '/v1/client-contacts/{clientContactId}':
    get:
      tags:
        - Client Contacts
      summary: Get Client Contact
      operationId: get-v1-client-contacts-clientcontactid
      parameters:
        - name: clientContactId
          in: path
          description: The id of the client contact.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientContact'
              example:
                id: string
                createdTimestamp: string
                modifiedTimestamp: string
                contactTypeId: string
                endCode: B
                prefix: string
                firstName: string
                lastName: string
                companyName: string
                addressLine1: string
                addressLine2: string
                addressCity: string
                addressPostalCode: string
                addressProvinceCode: string
                addressCountryCode: string
                phoneNumberMain: string
                phoneNumberBusiness: string
                phoneNumberMobile: string
                faxNumberMain: string
                emailAddressMain: string
                emailAddressWork: string
                contactType:
                  name: string
                  code: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
    patch:
      tags:
        - Client Contacts
      summary: Update Client Contact
      operationId: patch-v1-client-contacts-clientcontactid
      parameters:
        - name: clientContactId
          in: path
          description: The id of the client contact.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The properties of the client contact to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientContactPatchRequest'
            example:
              contactTypeId: string
              endCode: B
              prefix: string
              firstName: string
              lastName: string
              companyName: string
              addressLine1: string
              addressLine2: string
              addressCity: string
              addressPostalCode: string
              addressProvinceCode: string
              addressCountryCode: string
              phoneNumberMain: string
              phoneNumberBusiness: string
              phoneNumberMobile: string
              faxNumberMain: string
              emailAddressMain: string
              emailAddressWork: string
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientContact'
              example:
                id: string
                createdTimestamp: string
                modifiedTimestamp: string
                contactTypeId: string
                endCode: B
                prefix: string
                firstName: string
                lastName: string
                companyName: string
                addressLine1: string
                addressLine2: string
                addressCity: string
                addressPostalCode: string
                addressProvinceCode: string
                addressCountryCode: string
                phoneNumberMain: string
                phoneNumberBusiness: string
                phoneNumberMobile: string
                faxNumberMain: string
                emailAddressMain: string
                emailAddressWork: string
                contactType:
                  name: string
                  code: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '422':
          description: Validation failed. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
    delete:
      tags:
        - Client Contacts
      summary: Delete Client Contact
      operationId: delete-v1-client-contacts-clientcontactid
      parameters:
        - name: clientContactId
          in: path
          description: The id of the client contact.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientContact'
              example:
                id: string
                createdTimestamp: string
                modifiedTimestamp: string
                contactTypeId: string
                endCode: B
                prefix: string
                firstName: string
                lastName: string
                companyName: string
                addressLine1: string
                addressLine2: string
                addressCity: string
                addressPostalCode: string
                addressProvinceCode: string
                addressCountryCode: string
                phoneNumberMain: string
                phoneNumberBusiness: string
                phoneNumberMobile: string
                faxNumberMain: string
                emailAddressMain: string
                emailAddressWork: string
                contactType:
                  name: string
                  code: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
  '/v1/transactions/{transactionId}/tiers/{tierId}/commissions/{commissionId}/fees':
    get:
      tags:
        - Commission Fees
      summary: Get Commission Fees
      operationId: get-v1-transactions-transactionid-tiers-tierid-commissions-commissionid-fees
      parameters:
        - name: transactionId
          in: path
          description: The id of the transaction.
          required: true
          schema:
            type: string
            format: uuid
        - name: tierId
          in: path
          description: The id of the tier.
          required: true
          schema:
            type: string
            format: uuid
        - name: commissionId
          in: path
          description: The id of the commission.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommissionFee'
              example:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  percentage: 0
                  amount: 0
                  calculationMethodCode: A
                  taxAmount: 0
                  taxPercentage: 0
                  paymentMethodCode: string
                  fee:
                    shortName: string
                    name: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
  '/v1/commission-fees/{id}':
    get:
      tags:
        - Commission Fees
      summary: Get Commission Fee
      operationId: get-v1-commission-fees-id
      parameters:
        - name: id
          in: path
          description: The id of the commission fee.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommissionFee'
              example:
                id: string
                createdTimestamp: string
                modifiedTimestamp: string
                percentage: 0
                amount: 0
                calculationMethodCode: A
                taxAmount: 0
                taxPercentage: 0
                paymentMethodCode: string
                fee:
                  shortName: string
                  name: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
  '/v1/transactions/{transactionId}/tiers/{tierId}/commissions':
    get:
      tags:
        - Commissions
      summary: Get Commissions
      description: |-
        Retrieves the list of commissions for a specific transaction and tier. This will only return the list of commissions to which you have
        access. It may not be the full list of commissions associated with the transaction.
      operationId: get-v1-transactions-transactionid-tiers-tierid-commissions
      parameters:
        - name: transactionId
          in: path
          description: The id of the transaction.
          required: true
          schema:
            type: string
            format: uuid
        - name: tierId
          in: path
          description: The id of the tier.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Commission'
              example:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  agentId: string
                  officeId: string
                  amount: 0
                  percentage: 0
                  endCode: B
                  endCount: 0
                  calculationMethodCode: A
                  taxAmount: 0
                  totalFeeAmount: 0
                  totalFeeTaxAmount: 0
                  fees:
                    - id: string
                      createdTimestamp: string
                      modifiedTimestamp: string
                      percentage: 0
                      amount: 0
                      calculationMethodCode: A
                      taxAmount: 0
                      taxPercentage: 0
                      paymentMethodCode: string
                      fee:
                        shortName: string
                        name: string
                  agent:
                    firstName: string
                    middleName: string
                    lastName: string
                  office:
                    name: string
                    code: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
    post:
      tags:
        - Commissions
      summary: Create Commission
      operationId: post-v1-transactions-transactionid-tiers-tierid-commissions
      parameters:
        - name: transactionId
          in: path
          description: The id of the transaction.
          required: true
          schema:
            type: string
            format: uuid
        - name: tierId
          in: path
          description: The id of the tier.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The commission to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Commission'
            example:
              id: string
              createdTimestamp: string
              modifiedTimestamp: string
              agentId: string
              officeId: string
              amount: 0
              percentage: 0
              endCode: B
              endCount: 0
              calculationMethodCode: A
              taxAmount: 0
              totalFeeAmount: 0
              totalFeeTaxAmount: 0
              fees:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  percentage: 0
                  amount: 0
                  calculationMethodCode: A
                  taxAmount: 0
                  taxPercentage: 0
                  paymentMethodCode: string
                  fee:
                    shortName: string
                    name: string
              agent:
                firstName: string
                middleName: string
                lastName: string
              office:
                name: string
                code: string
      responses:
        '200':
          description: OK
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Commission'
              example:
                id: string
                createdTimestamp: string
                modifiedTimestamp: string
                agentId: string
                officeId: string
                amount: 0
                percentage: 0
                endCode: B
                endCount: 0
                calculationMethodCode: A
                taxAmount: 0
                totalFeeAmount: 0
                totalFeeTaxAmount: 0
                fees:
                  - id: string
                    createdTimestamp: string
                    modifiedTimestamp: string
                    percentage: 0
                    amount: 0
                    calculationMethodCode: A
                    taxAmount: 0
                    taxPercentage: 0
                    paymentMethodCode: string
                    fee:
                      shortName: string
                      name: string
                agent:
                  firstName: string
                  middleName: string
                  lastName: string
                office:
                  name: string
                  code: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '409':
          description: Conflict. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '422':
          description: Validation failed. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
  '/v1/commissions/{id}':
    get:
      tags:
        - Commissions
      summary: Get Commission
      operationId: get-v1-commissions-id
      parameters:
        - name: id
          in: path
          description: The id of the commission.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Commission'
              example:
                id: string
                createdTimestamp: string
                modifiedTimestamp: string
                agentId: string
                officeId: string
                amount: 0
                percentage: 0
                endCode: B
                endCount: 0
                calculationMethodCode: A
                taxAmount: 0
                totalFeeAmount: 0
                totalFeeTaxAmount: 0
                fees:
                  - id: string
                    createdTimestamp: string
                    modifiedTimestamp: string
                    percentage: 0
                    amount: 0
                    calculationMethodCode: A
                    taxAmount: 0
                    taxPercentage: 0
                    paymentMethodCode: string
                    fee:
                      shortName: string
                      name: string
                agent:
                  firstName: string
                  middleName: string
                  lastName: string
                office:
                  name: string
                  code: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
    delete:
      tags:
        - Commissions
      summary: Delete Commission
      operationId: delete-v1-commissions-id
      parameters:
        - name: id
          in: path
          description: ''
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Commission'
              example:
                id: string
                createdTimestamp: string
                modifiedTimestamp: string
                agentId: string
                officeId: string
                amount: 0
                percentage: 0
                endCode: B
                endCount: 0
                calculationMethodCode: A
                taxAmount: 0
                totalFeeAmount: 0
                totalFeeTaxAmount: 0
                fees:
                  - id: string
                    createdTimestamp: string
                    modifiedTimestamp: string
                    percentage: 0
                    amount: 0
                    calculationMethodCode: A
                    taxAmount: 0
                    taxPercentage: 0
                    paymentMethodCode: string
                    fee:
                      shortName: string
                      name: string
                agent:
                  firstName: string
                  middleName: string
                  lastName: string
                office:
                  name: string
                  code: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
    patch:
      tags:
        - Commissions
      summary: Update Commission
      operationId: patch-v1-commissions-id
      parameters:
        - name: id
          in: path
          description: The id of the commission.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The properties of the commission to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommissionPatchRequest'
            example:
              agentId: string
              amount: 0
              percentage: 0
              endCode: B
              endCount: 0
              calculationMethodCode: A
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Commission'
              example:
                id: string
                createdTimestamp: string
                modifiedTimestamp: string
                agentId: string
                officeId: string
                amount: 0
                percentage: 0
                endCode: B
                endCount: 0
                calculationMethodCode: A
                taxAmount: 0
                totalFeeAmount: 0
                totalFeeTaxAmount: 0
                fees:
                  - id: string
                    createdTimestamp: string
                    modifiedTimestamp: string
                    percentage: 0
                    amount: 0
                    calculationMethodCode: A
                    taxAmount: 0
                    taxPercentage: 0
                    paymentMethodCode: string
                    fee:
                      shortName: string
                      name: string
                agent:
                  firstName: string
                  middleName: string
                  lastName: string
                office:
                  name: string
                  code: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '422':
          description: Validation failed. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
  /v1/condition-types:
    get:
      tags:
        - Condition Types
      summary: Get Condition Types
      operationId: get-v1-condition-types
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConditionType'
              example:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  name: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
  '/v1/condition-types/{conditionTypeId}':
    get:
      tags:
        - Condition Types
      summary: Get Condition Type
      operationId: get-v1-condition-types-conditiontypeid
      parameters:
        - name: conditionTypeId
          in: path
          description: The id of the condition type.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionType'
              example:
                id: string
                createdTimestamp: string
                modifiedTimestamp: string
                name: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
    patch:
      tags:
        - Condition Types
      summary: Update Condition Type
      operationId: patch-v1-condition-types-conditiontypeid
      parameters:
        - name: conditionTypeId
          in: path
          description: The id of the condition type.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The properties of the condition type to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConditionTypePatchRequest'
            example:
              name: string
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionType'
              example:
                id: string
                createdTimestamp: string
                modifiedTimestamp: string
                name: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '422':
          description: Validation failed. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
  '/v1/transactions/{transactionId}/conditions':
    get:
      tags:
        - Conditions
      summary: Get Conditions
      operationId: get-v1-transactions-transactionid-conditions
      parameters:
        - name: transactionId
          in: path
          description: The id of the transaction.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Condition'
              example:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  description: string
                  dueDate: string
                  completeDate: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
    post:
      tags:
        - Conditions
      summary: Create Condition
      operationId: post-v1-transactions-transactionid-conditions
      parameters:
        - name: transactionId
          in: path
          description: The id of the transaction.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The condition to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Condition'
            example:
              id: string
              createdTimestamp: string
              modifiedTimestamp: string
              description: string
              dueDate: string
              completeDate: string
      responses:
        '200':
          description: OK
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Condition'
              example:
                id: string
                createdTimestamp: string
                modifiedTimestamp: string
                description: string
                dueDate: string
                completeDate: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '409':
          description: Conflict. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '422':
          description: Validation failed. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
  '/v1/conditions/{conditionId}':
    get:
      tags:
        - Conditions
      summary: Get Condition
      operationId: get-v1-conditions-conditionid
      parameters:
        - name: conditionId
          in: path
          description: The id of the condition.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Condition'
              example:
                id: string
                createdTimestamp: string
                modifiedTimestamp: string
                description: string
                dueDate: string
                completeDate: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
    delete:
      tags:
        - Conditions
      summary: Delete Condition
      operationId: delete-v1-conditions-conditionid
      parameters:
        - name: conditionId
          in: path
          description: The id of the condition.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Condition'
              example:
                id: string
                createdTimestamp: string
                modifiedTimestamp: string
                description: string
                dueDate: string
                completeDate: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
    patch:
      tags:
        - Conditions
      summary: Update Condition
      operationId: patch-v1-conditions-conditionid
      parameters:
        - name: conditionId
          in: path
          description: The id of the condition.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The properties of the condition to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConditionPatchRequest'
            example:
              description: string
              dueDate: string
              completeDate: string
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Condition'
              example:
                id: string
                createdTimestamp: string
                modifiedTimestamp: string
                description: string
                dueDate: string
                completeDate: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '422':
          description: Validation failed. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
  /v1/contact-types:
    get:
      tags:
        - Contact Types
      summary: Get Contact Types
      operationId: get-v1-contact-types
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContactType'
              example:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  name: string
                  code: string
                  inactiveDate: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
  '/v1/contact-types/{contactTypeId}':
    get:
      tags:
        - Contact Types
      summary: Get Contact Type
      operationId: get-v1-contact-types-contacttypeid
      parameters:
        - name: contactTypeId
          in: path
          description: The id of the contact type.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactType'
              example:
                id: string
                createdTimestamp: string
                modifiedTimestamp: string
                name: string
                code: string
                inactiveDate: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
    patch:
      tags:
        - Contact Types
      summary: Update Contact Type
      operationId: patch-v1-contact-types-contacttypeid
      parameters:
        - name: contactTypeId
          in: path
          description: The id of the contact type.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The properties of the contact type to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactTypePatchRequest'
            example:
              name: string
              inactiveDate: string
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactType'
              example:
                id: string
                createdTimestamp: string
                modifiedTimestamp: string
                name: string
                code: string
                inactiveDate: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '422':
          description: Validation failed. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
  '/v1/transactions/{transactionId}/deposits':
    post:
      tags:
        - Deposits
      summary: Create Deposit
      operationId: post-v1-transactions-transactionid-deposits
      parameters:
        - name: transactionId
          in: path
          description: The id of the transaction.
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        description: The deposit to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Deposit'
            example:
              id: string
              createdTimestamp: string
              modifiedTimestamp: string
              date: string
              amount: 0
              received: true
              interest: true
              held: true
              heldBy: string
              direct: true
              reference: string
      responses:
        '200':
          description: OK
        '201':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deposit'
              example:
                id: string
                createdTimestamp: string
                modifiedTimestamp: string
                date: string
                amount: 0
                received: true
                interest: true
                held: true
                heldBy: string
                direct: true
                reference: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '409':
          description: Conflict. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '422':
          description: Validation failed. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
    get:
      tags:
        - Deposits
      summary: Get Deposits
      operationId: get-v1-transactions-transactionid-deposits
      parameters:
        - name: transactionId
          in: path
          description: The id of the transaction.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Deposit'
              example:
                - id: string
                  createdTimestamp: string
                  modifiedTimestamp: string
                  date: string
                  amount: 0
                  received: true
                  interest: true
                  held: true
                  heldBy: string
                  direct: true
                  reference: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '403':
          description: Permission denied. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '404':
          description: Not found. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
  '/v1/deposits/{depositId}':
    get:
      tags:
        - Deposits
      summary: Get Deposit
      operationId: get-v1-deposits-depositid
      parameters:
        - name: depositId
          in: path
          description: The id of the deposit.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Request succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deposit'
              example:
                id: string
                createdTimestamp: string
                modifiedTimestamp: string
                date: string
                amount: 0
                received: true
                interest: true
                held: true
                heldBy: string
                direct: true
                reference: string
        '400':
          description: Invalid request. See response body for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                id: string
                code: 0
                message: string
                details:
                  - string
        '401':
          description: Unauthorized. See response body for details.
          content:
[...]
